<md-toolbar class="submenu">
  <md-form-field floatPlaceholder="never">
    <input mdInput placeholder="Filtrar" class="md2-input" [(ngModel)]="search" />
  </md-form-field>
  <span class="example-spacer" style="text-align: center;" *ngIf="activos && activos.ubi_activos==2;else celda">Activos en: Celda {{activos.nombre_celda}}</span>
  <ng-template #celda>
    <span class="example-spacer" style="text-align: center;" *ngIf="activos && activos.ubi_activos==1;else cargando">Activos en: Oficina {{activos.nombre_zona}}</span>
  </ng-template>
  <ng-template #cargando>
    <span class="example-spacer" style="text-align: center;" >Cargando...</span>
  </ng-template>

  <button md-button [mdMenuTriggerFor]="botones" style="color:rgb(104, 103, 112)">
    Acciones<md-icon>more_vert</md-icon>
  </button>
</md-toolbar>
<div class="contenido">

  <md-menu #botones="mdMenu">
    <button md-raised-button (click)="this.myService.refresh()">
      <md-icon [class.updateicon]="update">cached</md-icon> Actualizar Lista
    </button>
    <button md-raised-button (click)="openDialog()" *ngIf="usuario.perm && usuario.perm.includes('inventarios_w')">
      <md-icon>group_add</md-icon> Agregar activos
    </button>
    <button md-raised-button class="btn" routerLink="/TransfEquipo">Transferir activos</button>
  </md-menu>

  <div class="card-container" *ngIf="activos">
    <table class="addClient x700" [md2Data]="activos.activos | dataPipe: { nombre: search, apellido: search, social: search, nombre_servidor: search}" #md2="md2DataTable" [rowsPerPage]="10">
      <thead>
        <tr>
          <td colspan="7">
            <md2-pagination [rowsPerPageSet]="[10,15]" paginationLabel="Filas por pagina"></md2-pagination>
          </td>
        </tr>
        <tr>
          <th md2SortBy="id_activos" style="width: 15%; margin: 0 1em;">ID</th>
          <th md2SortBy="obj_activos" style="width: 15%">Nombre</th>
          <th md2SortBy="cla_activos" style="width: 15%">Tipo</th>
          <th style="width: 15%">Observacion</th>
          <th style="width: 10%">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of md2.data">
          <td>
            {{t.id_activos}}
          </td>
          <td>
            {{t.obj_activos}}
          </td>
          <td>
            {{t.cla_activos}}
          </td>
          <td>
            {{t.com_activos}}
          </td>
          <td style="width: 15%" *ngIf="usuario.perm && usuario.perm.includes('soporte_w');else noautorizado">
            <button md-icon-button color="primary" [routerLink]="['/editticket', t.id_soporte]">

              <md-icon class="md-24" aria-label="Editar AP">rate_review</md-icon>
            </button>
            <!--button md-icon-button color="warn"(click)="delete(i.id_srvidor)">
            <button md-icon-button color="warn"(click)="deleteDialog(i)">
            <md-icon class="md-24" aria-label="Eliminar AP">delete</md-icon>
          </button-->


        </td>
        <ng-template #noautorizado >
          <td style="width: 15%" >
            No Autorizado
          </td>
        </ng-template>
      </tr>
    </tbody>

  </table>
</div>
</div>
