<form class="example-form" id="client" name="clientForm" [formGroup]="addActivo1" novalidate>
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td colspan="2">
        <md-form-field class="example-full-width">
          <input type="text" class="form-control" floatPlaceholder="never" formControlName="obj_activos" placeholder="Serial" mdInput>
        </md-form-field>
        <!--button md-raised-button class="example-half-width btn " (click)="Agregar()"><i class="fa fa-paper-plane" aria-hidden="true"></i> Agregar</button-->
      </td>

    </tr>
    <tr>
      <td colspan="2">
        <md2-select formControlName="cla_activos" floatPlaceholder="never" placeholder="Clasificacion" style="width=100%; min-width: 100%; min-height: 100%;" mdInput>
          <md2-select-header>
            <input class="search" type="text" [(ngModel)]="cla_activos_s" placeholder="Buscar..." style="width=95%; min-width: 95%; border: none; outline: none; height: 100%; padding: 0;" formControlName="cla_activos_s" />
          </md2-select-header>
          <md2-option *ngFor="let i of (cla_activos | dataPipe : {nombre_cla_activos: cla_activos_s})" [value]="i.id_cla_activos">{{i.nombre_cla_activos}}</md2-option>
        </md2-select>
      </td>
    </tr>
    <tr *ngIf="addActivo1.value.ubi_activos == ''">

      <td colspan="2">
        <md2-select formControlName="ubi_activos" floatPlaceholder="never" placeholder="Ubicacion" style="width=100%; min-width: 100%; min-height: 100%;" mdInput>
          <md2-option  value="1">Oficina</md2-option>
          <md2-option  value="2">Celda</md2-option>
        </md2-select>
      </td>

    </tr>
    <tr *ngIf="addActivo1.value.ubi_activos == '1'">

      <td colspan="2">
        <md2-select formControlName="det_activos" floatPlaceholder="never" placeholder="Zona" style="width=100%; min-width: 100%; min-height: 100%;" mdInput>
          <md2-select-header>
            <input class="search" type="text" [(ngModel)]="model_s" placeholder="Buscar..." style="width=95%; min-width: 95%; border: none; outline: none; height: 100%; padding: 0;" formControlName="det_activos_s" />
          </md2-select-header>
          <md2-option *ngFor="let i of (zonas | dataPipe : {nombre_zona: addActivo1.value.det_activos_s})" [value]="i.id">{{i.nombre_zona}}</md2-option>
        </md2-select>
      </td>

    </tr>
    <tr *ngIf="addActivo1.value.ubi_activos == '2'">

      <td colspan="2">
        <md2-select formControlName="det_activos" floatPlaceholder="never" placeholder="Celdas" style="width=100%; min-width: 100%; min-height: 100%;" mdInput>
          <md2-select-header>
            <input class="search" type="text" [(ngModel)]="model_s" placeholder="Buscar..." style="width=95%; min-width: 95%; border: none; outline: none; height: 100%; padding: 0;" formControlName="det_activos_s" />
          </md2-select-header>
          <md2-option *ngFor="let i of (celdas | dataPipe : {nombre_celda: addActivo1.value.det_activos_s})" [value]="i.id">{{i.nombre_celda}}</md2-option>
        </md2-select>
      </td>

    </tr>
    <tr>
      <td colspan="2">
        <md-form-field class="example-full-width">
          <input type="text" class="form-control" floatPlaceholder="never" formControlName="com_activos" placeholder="Observacion" mdInput>
        </md-form-field>
        </td>
      </tr>
    <!-- <tr rowspan="2" *ngFor="let s of seriales">
      <td>
        {{s}}
      </td>
    </tr> -->

    <tr>
      <td>


        <button md-raised-button color="primary" class="example-half-width btn btn-primary" (click)="Enviar()" ><i class="fa fa-paper-plane" aria-hidden="true"></i> Guardar</button>
      </td>
      <td>

        <button md-raised-button color="warn" class="example-half-width btn btn-danger" type="button" (click)="onNoClick()"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
      </td>
    </tr>
    <p>

    </p>
  </table>
</form>
