<h1 md-dialog-title>Confirmacion</h1>
<div md-dialog-content>
  <p *ngIf="instalador[0].nombre_user">Pagar instalaciones para: {{instalador[0].nombre_user+" "+instalador[0].apellido_user}}?</p>
</div>
<div md-dialog-actions>
<table>
  <tr>
    <td>
      <md-form-field>
      <input mdInput type="number" placeholder="Numero de instalaciones" class="md2-input" [(ngModel)]="n" />
      </md-form-field>

    </td>
    <td>
      <md-form-field>
      <input mdInput type="number" placeholder="Monto" class="md2-input" [(ngModel)]="monto" />
      <span mdSuffix>Bs.S.</span>
      </md-form-field>

    </td>
    <td>
      <md-form-field>
      <input mdInput type="number" placeholder="Referencia" class="md2-input" [(ngModel)]="refer" />
      </md-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <md2-select [(ngModel)]="banco" style="width=95%; min-width: 95%; border: none; outline: none; height: 100%; padding: 0;" placeholder="Banco">
        <md2-option value="2" >Transferencia Banesco</md2-option>
        <md2-option value="6" >Transferencia Bicentenario</md2-option>
        <md2-option value="1" >Transferencia BOD</md2-option>
        <md2-option value="3" >Transferencia Venezuela</md2-option>
      </md2-select>
    </td>
    <td>
      <md-form-field>
      <input mdInput placeholder="fecha"  type="date" class="md2-input" [(ngModel)]="fecha" />
      </md-form-field>
    </td>
  </tr>
  <tr>
    <td colspan="3">
        <md-form-field class="example-full-width">
        <input mdInput placeholder="Comentario" class="example-full-width" [(ngModel)]="comment" />
        </md-form-field>
    </td>
  </tr>
    <tr>
    <td colspan="2">
      <button md-raised-button  class="example-full-width btn btn-primary b-btn" (click)="pagar()">Cargar Pago</button>

    </td>
    <td colspan="2">
      <button md-raised-button color="warn" class="example-full-width btn btn-danger" type="button" (click)="onNoClick()">No</button>

    </td>
  </tr>
</table>
</div>
