<md-toolbar class="submenu">
<button md-raised-button class="btn" (click)="Close()">Atras</button>
  <span class="example-spacer" style="text-align: center;"><p *ngIf=" instalador[0].nombre_user ">
     {{(instalador[0].nombre_user+" "+instalador[0].apellido_user) | capitalize}}
  </p></span>
  <button md-raised-button (click)="pagar()" >
    <md-icon>credit_card</md-icon> Pagar
  </button>

</md-toolbar>
<div class="contenido">
  <md-accordion>
  <!-- soportes -->
  <md-expansion-panel hideToggle="true" expanded="false" (opened)="this.modo=2">
    <md-expansion-panel-header>
      <md-panel-title>
        Pagos
      </md-panel-title>
    </md-expansion-panel-header>
    <table class="example-full-width">
      <tr *ngFor="let p of pagos">
        <td>
          {{p.monto | number : '1.0-2'}}Bs.S.
        </td>
        <td *ngIf="p.banco==2">Transferencia Banesco</td>
        <td *ngIf="p.banco==6">Transferencia Bicentenario</td>
        <td *ngIf="p.banco==1">Transferencia BOD</td>
        <td *ngIf="p.banco==3">Transferencia Venezuela</td>
        <td *ngIf="p.banco==4">Retencion ISLR</td>
        <td *ngIf="p.banco==5">Retencion IVA</td>
        <td *ngIf="p.banco==7">Exonerado</td>
        <td >{{p.created_at | stringToDate | date: 'd/M/yy'}}</td>
      </tr>
    </table>
  </md-expansion-panel>

  <!-- Averias -->
  <md-expansion-panel hideToggle="true" expanded="true"  (opened)="this.modo=3">
    <md-expansion-panel-header>
      <md-panel-title>
        Instalaciones
      </md-panel-title>
    </md-expansion-panel-header>
    <table class="example-full-width">
      <tr *ngFor="let i of instalaciones">
        <td>
          {{i.ncliente}}
        </td>
        <td *ngIf="i.stat == 1">
          Pendiente
        </td>
        <td *ngIf="i.stat == 2">
          Pagada
        </td>
        <td>
          <button md-icon-button color="primary" [routerLink]="['/editticket', i.ticket]">

            <md-icon class="md-24" aria-label="Editar AP" >rate_review</md-icon>
          </button>
        </td>
      </tr>
    </table>
  </md-expansion-panel>


  </md-accordion>
</div>
