<div class="row primero">
  <div class="col-sm-1">
    <h1>APS</h1>
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-info btn-sm" (click)="openModal(template)">
      <md-icon>add_circle_outline</md-icon>
    </button>
    <button style="background-color:#1F9BCF;" (click)="traerAps()" title="Actualizar Aps" type="button"
      class="btn btn-info btn-sm ">
      <md-icon>loop</md-icon>
    </button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-11 tabla">
    <table class="table table-borderless">
      <thead>
        <tr class="table-info">
          <th scope="col">IP</th>
          <th scope="col">Ap</th>
          <th scope="col">Usuario</th>
          <th scope="col">Password</th>
        </tr>
      </thead>
      <tbody>
        <tr style="cursor: pointer;" (click)="openModal2(template2,a.id)" *ngFor="let a of aps | paginate: { id:'aps', itemsPerPage: 8, currentPage: p } ">
          <th scope="row">{{a.ip_ap}}</th>
          <td>{{a.nombre_ap}}</td>
          <td>{{a.user_ap}}</td>
          <td>{{a.password_ap}}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls id="aps" (pageChange)="p = $event"></pagination-controls>
  </div>

</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Agregar Ap</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-6">
        <label class="col-form-label" for="inputDefault">Nombre Aps</label>
        <input [(ngModel)]="ap" type="text" class="form-control">
      </div>
      <div class="col-sm-6">
        <label class="col-form-label" for="inputDefault">IP</label>
        <input [(ngModel)]="ip" type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label class="col-form-label" for="inputDefault">Usuario</label>
        <input [(ngModel)]="usuario" type="text" class="form-control">
      </div>
      <div class="col-sm-6">
        <label class="col-form-label" for="inputDefault">Password</label>
        <input [(ngModel)]="clave" type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-11">
        <label class="col-form-label" for="inputDefault">Celda</label>
        <select [(ngModel)]="celda" class="form-control" id="exampleSelect1" required>
          <option value="0"></option>
          <option *ngFor="let c of celdas" [value]="c.id_celda">{{c.nombre_celda}}</option>
        </select>
      </div>
    </div>
    <br>
    <button *ngIf="ap.length > 4 && celda != 0 && ip != '' && usuario != '' && clave != ''" type="button" class="btn btn-info" (click)="agregarAps()">
      Agregar
    </button>
  </div>
</ng-template>

<ng-template #template2>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Editar AP</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal2()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h6 class="col-form-label" >Nombre AP:</h6>
    <input [(ngModel)]="apSeleccionada.nombre_ap" type="text" class="form-control">
    <br>
    <label class="col-form-label" for="inputDefault">IP:</label>
    <input [(ngModel)]="apSeleccionada.ip_ap" class="form-control" type="text">
    <br>
    <label class="col-form-label" for="inputDefault">Usuario:</label>
    <input [(ngModel)]="apSeleccionada.user_ap" type="text" class="form-control">
    <br>
    <label class="col-form-label" for="inputDefault">Password:</label>
    <input [(ngModel)]="apSeleccionada.password_ap" type="text" class="form-control">
    <br>
    <label  class="col-form-label" for="inputDefault">Celda:</label>
    <select  [(ngModel)]="apSeleccionada.celda_ap" class="form-control" id="exampleSelect1" required>
      <option value="0"></option>
      <option *ngFor="let c of celdas" [value]="c.id_celda">{{c.nombre_celda}}</option>
    </select>
    <br>
    <button type="button" class="btn btn-info" (click)="editarAp()">
      Editar
    </button>
  </div>
</ng-template>