<header class="toolbar">

<md-toolbar color="primary">
  <img routerLink="/" style="max-width:20%" src="assets/images/logo-normal.jpg" alt="Maraveca">
    <span class="example-spacer"></span>
    <button *ngIf="dash && dash.total > 0" md-button [mdMenuTriggerFor]="dash_r" style="color:rgb(104, 103, 112)">
      <md-icon>notifications_active</md-icon> {{dash.total}} Pendientes
    </button>
    <md-chip-list>
    <md-chip *ngIf="usuario.currentUser && usuario.currentUser.nombre_user && usuario.currentUser.apellido_user"  md-button [mdMenuTriggerFor]="usuarios" style="color:rgb(255, 255, 255); background-color:rgb(36, 156, 200)">{{usuario.currentUser.nombre_user + " " + usuario.currentUser.apellido_user}}</md-chip>
    <md-chip *ngIf="usuario.currentUser && !usuario.currentUser.nombre_user && usuario.currentUser.apellido_user"  md-button [mdMenuTriggerFor]="usuarios" style="color:rgb(255, 255, 255); background-color:rgb(36, 156, 200)">{{usuario.currentUser.apellido_user}}</md-chip>
    <md-chip *ngIf="usuario.currentUser && usuario.currentUser.nombre_user && !usuario.currentUser.apellido_user"  md-button [mdMenuTriggerFor]="usuarios" style="color:rgb(255, 255, 255); background-color:rgb(36, 156, 200)">{{usuario.currentUser.nombre_user}}</md-chip>
  </md-chip-list>

  <button *ngIf="usuario.currentUser" md-button [mdMenuTriggerFor]="appMenu" style="color:rgb(104, 103, 112)">
    <md-icon>menu</md-icon> Menu
  </button>
</md-toolbar>

</header>

<md-menu #dash_r="mdMenu">
  <button *ngIf="dash && dash.balance > 0" md-menu-item routerLink="/Pagos">
    <md-icon>credit_card</md-icon>
    <span>{{dash.balance}} pagos pendienes</span>
  </button>
  <button *ngIf="dash && dash.instalaciones > 0" md-menu-item routerLink="/instalaciones">
    <md-icon>assignment</md-icon>
    <span>{{dash.instalaciones}} Instalaciones</span>
  </button>
  <button *ngIf="dash && dash.tickets > 0" md-menu-item routerLink="/soporte">
    <md-icon>headset_mic</md-icon>
    <span>{{dash.tickets}} Tickets</span>
  </button>
  <button *ngIf="dash && dash.averias > 0" md-menu-item routerLink="/soporte">
    <md-icon>headset_mic</md-icon>
    <span>{{dash.averias}} Averias</span>
  </button>
  <button *ngIf="dash && dash.factibilidades > 0" md-menu-item routerLink="/factibilidades">
    <md-icon>perm_scan_wifi</md-icon>
    <span>{{dash.factibilidades}} Factibilidades</span>
  </button>

</md-menu>

<md-menu #Red="mdMenu">
  <button *ngIf="usuario.perm && usuario.perm.includes('ap')" md-menu-item routerLink="/aps">
    <md-icon>track_changes</md-icon>
    <span>AP</span>
  </button>
  <button *ngIf="usuario.perm && usuario.perm.includes('celdas')" md-menu-item routerLink="/celdas">
    <md-icon>settings_input_antenna</md-icon>
    <span>Celda</span>
  </button>
  <button *ngIf="usuario.perm && usuario.perm.includes('equipos')" md-menu-item routerLink="/equipos">
    <md-icon>toys</md-icon>
    <span>Equipos</span>
  </button>
  <button *ngIf="usuario.perm && usuario.perm.includes('router')" md-menu-item routerLink="/router">
    <md-icon>router</md-icon>
    <span>Router</span>
  </button>
  <button *ngIf="usuario.perm && usuario.perm.includes('zonas')" md-menu-item routerLink="/zonas">
    <md-icon>category</md-icon>
    <span>Zonas</span>
  </button>

</md-menu>

<md-menu #administracion="mdMenu">
  <button *ngIf="usuario.perm && usuario.perm.includes('clientes')" md-menu-item routerLink="/clients">
    <md-icon>group</md-icon>
    <span>Clientes</span>
  </button>

  <button *ngIf="usuario.perm && usuario.perm.includes('pclientes')" md-menu-item routerLink="/pclients">
    <md-icon>group</md-icon>
    <span>Clientes Potenciales</span>
  </button>

  <button *ngIf="usuario.perm && usuario.perm.includes('factibilidades')" md-menu-item routerLink="/factibilidades">
    <md-icon>perm_scan_wifi</md-icon>
    <span>Factibilidades</span>
  </button>

  <button *ngIf="usuario.perm && usuario.perm.includes('facturacion')" md-menu-item routerLink="/facturacion">
    <md-icon>credit_card</md-icon>
    <span>Facturacion</span>
  </button>

  <button *ngIf="usuario.perm && usuario.perm.includes('inventarios')" md-menu-item routerLink="/inventarios">
    <md-icon>format_list_numbered</md-icon>
    <span>Inventarios</span>
  </button>

  <!-- <button *ngIf="usuario.perm && usuario.perm.includes('inventarios')" md-menu-item routerLink="/activos">
    <md-icon>format_list_numbered</md-icon>
    <span>Inventarios de Activos</span>
  </button> -->

  <button *ngIf="usuario.perm && usuario.perm.includes('planes')" md-menu-item routerLink="/planes">
    <md-icon>dashboard</md-icon>
    <span>Planes</span>
  </button>

  <button *ngIf="usuario.perm && usuario.perm.includes('servicios')" md-menu-item routerLink="/services">
    <md-icon>assignment</md-icon>
    <span>Servicios</span>
  </button>

</md-menu>

<md-menu #stat="mdMenu">

  <button md-menu-item routerLink="/EstadodeCuenta" *ngIf="usuario.perm && (usuario.perm.includes('cobrar'))">
    <md-icon>show_chart</md-icon>
    <span>Cuentas por cobrar</span>
  </button>
  <button md-menu-item routerLink="/pagarInstalaciones" *ngIf="usuario.perm && (usuario.perm.includes('pagar'))">
    <md-icon>credit_card</md-icon>
    <span>Cuentas por pagar</span>
  </button>

</md-menu>

<md-menu #conf="mdMenu">
  <button *ngIf="usuario.perm && usuario.perm.includes('usuarios')" md-menu-item routerLink="/users">
    <md-icon>perm_identity</md-icon>
    <span>Usuarios</span>
  </button>
</md-menu>

<md-menu #op="mdMenu">
  <button *ngIf="usuario.perm && usuario.perm.includes('instalaciones')" md-menu-item routerLink="/instalaciones">
    <md-icon>assignment</md-icon>
    <span>Instalaciones</span>
  </button>


  <button *ngIf="usuario.perm && usuario.perm.includes('notify')" md-menu-item routerLink="/notify">
    <md-icon>tap_and_play</md-icon>
    <span>Notificaciones</span>
  </button>

  <button *ngIf="usuario.perm && usuario.perm.includes('soporte')" md-menu-item routerLink="/soporte">
    <md-icon>headset_mic</md-icon>
    <span>Soporte</span>
  </button>

</md-menu>

<md-menu #appMenu="mdMenu">

  <button md-menu-item [mdMenuTriggerFor]="administracion" *ngIf="usuario.perm && (usuario.perm.includes('clientes') || usuario.perm.includes('pclientes') || usuario.perm.includes('factibilidades') || usuario.perm.includes('facturacion') || usuario.perm.includes('planes') || usuario.perm.includes('servicios') )">
    <md-icon>poll</md-icon>Administracion
  </button>

  <button md-menu-item [mdMenuTriggerFor]="conf">
    <md-icon>settings</md-icon>Configuracion
  </button>


  <button md-menu-item [mdMenuTriggerFor]="op" style="color:rgb(104, 103, 112)" *ngIf="usuario.perm && (usuario.perm.includes('instalaciones') || usuario.perm.includes('notify') || usuario.perm.includes('soporte'))">
    <md-icon>extension</md-icon> Operaciones
  </button>
  <button *ngIf="usuario.perm && (usuario.perm.includes('ap') || usuario.perm.includes('celdas') || usuario.perm.includes('equipos') || usuario.perm.includes('router') )" md-menu-item [mdMenuTriggerFor]="Red" style="color:rgb(104, 103, 112)">
    <md-icon>network_check</md-icon> Red
  </button>
  <button md-menu-item [mdMenuTriggerFor]="stat" style="color:rgb(104, 103, 112)" *ngIf="usuario.perm && (usuario.perm.includes('cobrar') || usuario.perm.includes('pagar'))">
    <md-icon>donut_small</md-icon> Estados De Cuenta
  </button>






</md-menu>

<md-menu #usuarios="mdMenu">
  <button *ngIf="usuario.currentUser" md-menu-item [routerLink]="['/DetalleUsuario', usuario.currentUser.id_user]">
    <md-icon>account_circle</md-icon>
    <span>Detalles de Usuario</span>
  </button>
  <button *ngIf="usuario.currentUser" md-menu-item [routerLink]="['/login']">
    <md-icon>exit_to_app</md-icon>
    <span>Logout</span>
  </button>

</md-menu>
