
<div class="zonas">

  <div class="row">
    <div class="col-sm-3">
      <h2 class="titulo">Clientes Potenciales</h2>
    </div>
    <div class="col-sm-2 filtrado">
      <input (input)="buscarCliente($event.target.value)" (keyup.backspace)="BuscarClienteSpace($event.target.value)"
        type="text" class="form-control" name="filtrado" placeholder="Filtrar" id="inputDefault">
    </div>
    <div class="col-sm-5"></div>
    <div class="col-sm-2 filtrado">
      <button style="background-color:#1F9BCF;" (click)="nuevaFact(template)" title="Agregar Factibilidad" type="button"
        class="btn btn-info btn-sm ">
        <md-icon>leak_add</md-icon>
      </button>
      <button style="background-color:#1F9BCF;" (click)="aggCliente(template1)" title="Agregar Factibilidad"
        type="button" class="btn btn-info btn-sm ">
        <md-icon>group_add</md-icon>
      </button>
      <button style="background-color:#1F9BCF;" (click)="actualizarP()" title="Actualizar Instalaciones" type="button"
        class="btn btn-info btn-sm ">
        <md-icon>loop</md-icon>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <table class="table table-borderless tabla">
        <thead>
          <tr class="table-info">
            <th scope="col">CEDULA</th>
            <th scope="col">CLIENTE</th>
            <th scope="col">TELEFONO</th>
            <th scope="col">CORREO</th>
            <th scope="col">DIRECCION</th>
            <th scope="col">ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of pClientes | paginate: {id:'clientes', itemsPerPage: 12, currentPage: e }">
            <td (click)="openModal(p.id,template2)">{{p.kind}}{{p.dni}}</td>
            <td (click)="openModal(p.id,template2)" *ngIf="p.kind == 'V' || p.kind == 'E'"> {{p.nombre+" "+p.apellido}}
            </td>
            <td (click)="openModal(p.id,template2)" *ngIf="p.kind == 'J' || p.kind == 'G' || p.kind == 'V-'">
              {{p.social}}</td>
            <td (click)="openModal(p.id,template2)">{{p.phone1}}</td>
            <td (click)="openModal(p.id,template2)">{{p.email}}</td>
            <td (click)="openModal(p.id,template2)">{{p.direccion | slice:0:30}} ...</td>
            <td>
              <md-icon *ngIf="usuario.perm && usuario.perm.includes('pclientes_w')" id="icono"
                (click)="openModal4(p.id,template4)" class="md-24" aria-label="Editar Potencial">create</md-icon>
              <md-icon id="icono" (click)="SendPre(p)" class="md-24" aria-label="Editar Potencial">email</md-icon>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls id="clientes" (pageChange)="e = $event"></pagination-controls>
    </div>
  </div>
</div>

<ng-template #template>

  <div class="modal-header">
    <h4 class="modal-title pull-left">Nueva Factibilidad </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="ocultarModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="card-body">

    <div *ngIf="clienteSeleccionado == false">
      <label for="">Cliente Potencial</label>
      <input type="text" class="form-control form-control-sm" (input)="onSearchCliente($event.target.value)">
      <br>
      <div *ngFor=" let cliente of listacliente">
        <button type="button" (click)="SeleccionCliente(cliente.id,cliente.dni, cliente.nombre, cliente.apellido)"
          class="btn btn-info btn-sm boton2"><i id="icono" class="fa fa-check"></i></button>
        <p> {{cliente.kind}}{{cliente.dni}} || {{cliente.nombre}} {{cliente.apellido}}</p>
      </div>
    </div>
    <div *ngIf="clienteSeleccionado == true">
      <button type="button" (click)="deseleccionarCliente()" class="btn btn-info btn-sm boton2"><i id="icono"
          class="fa fa-times"></i></button>
      <p>{{cedulaSeleccionado}} || {{nombreSeleccionado}} {{apellidoSeleccionado}}</p>
    </div>
    <br>
    <div *ngIf="clienteSeleccionado" class="row">
      <div class="col-sm-6">
        <label for="">Latitud</label>
        <input [(ngModel)]="latitud" type="text" class="form-control form-control-sm">
      </div>
      <div class="col-sm-6">
        <label for="">Longitud</label>
        <input [(ngModel)]="longitud" type="text" class="form-control form-control-sm">
      </div>
    </div>
    <br>
    <div *ngIf="clienteSeleccionado" class="row">

      <div class="col-sm-12">
        <label for="">Ciudad</label>
        <input [(ngModel)]="ciudad" type="text" class="form-control form-control-sm">
      </div>
    </div>
    <br>
    <div *ngIf="clienteSeleccionado" class="row">
      <div class="col-sm-12">
        <label for="">Direccion</label>
        <input [(ngModel)]="direccion" type="text" class="form-control form-control-sm">
      </div>
    </div>
    <br>
    <div *ngIf="longitud != '' && latitud != '' && ciudad != '' && direccion.length > 5">
      <button type="button" (click)="guardarData()" class="btn btn-info">Guardar</button>
    </div>
  </div>
</ng-template>


<ng-template #template1>

  <div class="modal-header">
    <h4 class="modal-title pull-left">Agregar Cliente</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="card-body">


    <div class="row">
      <div class="col-sm-6">
        <label class="col-form-label" for="inputDefault">Nombres</label>
        <input [(ngModel)]="nombres" type="text" class="form-control" id="inputDefault" required>
      </div>

      <div class="col-sm-6">
        <label class="col-form-label" for="inputDefault">Apellidos</label>
        <input [(ngModel)]="apellidos" type="text" class="form-control" id="inputDefault" required>
      </div>
    </div>
    <br>

    <div *ngIf="nombres.length > 4 && apellidos.length > 4" class="row">
      <div class="col-sm-4">
        <label class="control-label" for="disabledInput">Tipo</label>
        <select [(ngModel)]="kni" class="form-control" id="exampleSelect1" required>
          <option value="V">V</option>
          <option value="E">E</option>
          <option value="J">J</option>
          <option value="V-">V- Firma Personal</option>
          <option value="G">G</option>
        </select>
      </div>

      <div class="col-sm-8 cedula">
        <input [(ngModel)]="dni" type="text" placeholder="Cedula/RIF" class="form-control" id="inputDefault" required>
      </div>
    </div>
    <br>


    <div *ngIf="kni != '' && dni.length > 6" class="row">
      <div class="col-sm-6">
        <label class="col-form-label" for="inputDefault">Fecha de Nacimiento</label>
        <my-date-picker [(ngModel)]="fecha" class="example-full-width" name="birthdate" mdInput required locale=es
          [options]="myDatePickerOptions"></my-date-picker>
      </div>

      <div class="col-sm-6">
        <label class="col-form-label" for="inputDefault">Telefono</label>
        <input [(ngModel)]="numero" type="number" class="form-control" id="inputDefault" required>
      </div>
    </div>
    <br>
    <div *ngIf="numero > 1000000" class="row">
      <div class="col-sm-12">
        <label class="col-form-label" for="inputDefault">Correo</label>
        <input [(ngModel)]="email" type="email" class="form-control" id="inputDefault" required>
      </div>
    </div>
    <br>

    <div *ngIf="email.length > 8" class="row">
      <div class="col-sm-6">
        <label class="control-label" for="disabledInput">Estado</label>
        <select [(ngModel)]="estado" (change)="Municipios()" class="form-control" id="exampleSelect1" required>
          <option value=""></option>
          <option *ngFor="let e of estados" [value]="e.id_estado">{{e.estado}}</option>
        </select>
      </div>

      <div *ngIf="estado != 0" class="col-sm-6">
        <label class="control-label" for="disabledInput">Municipio</label>
        <select [(ngModel)]="municipio" (change)="Parroquias()" class="form-control" id="exampleSelect1" required>
          <option value=""></option>
          <option *ngFor="let m of municipios" [value]="m.id_municipio">{{m.municipio}}</option>
        </select>
      </div>

    </div>
    <br>

    <div *ngIf="municipio != 0" class="row">
      <div class="col-sm-6">
        <label class="control-label" for="disabledInput">Parroquias</label>
        <select [(ngModel)]="parroquia" class="form-control" id="exampleSelect1" required>
          <option value=""></option>
          <option *ngFor="let p of parroquias" [value]="p.id_parroquia">{{p.parroquia}}</option>
        </select>
      </div>
      <div *ngIf="parroquia != 0 && (kni == 'J' || kni == 'G' || kni == 'V-')" class="col-sm-6 social">
        <label class="col-form-label" for="inputDefault">Social</label>
        <input [(ngModel)]="social" type="text" class="form-control" id="inputDefault" required>
      </div>
    </div>
    <br>
    <div *ngIf="parroquia != 0 && (kni == 'J' || kni == 'G' || kni == 'V-')" class="custom-control custom-checkbox">
      <input type="checkbox" [(ngModel)]="isCheckedCliente" class="custom-control-input" id="customCheck1">
      <label class="custom-control-label" for="customCheck1">Cliente Facturable</label>
    </div>

    <div *ngIf="parroquia != 0" class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="exampleTextarea">Direccion</label>
          <textarea [(ngModel)]="Direccion" class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
      </div>
    </div>

    <div
      *ngIf="nombres != '' && apellidos != '' && kni != '' && dni != '' && Direccion.length > 5 && estado != 0 && municipio != 0 && parroquia != 0 ">
      <button (click)="verdatos()" type="button" class="btn btn-info">Guardar</button>
    </div>
  </div>

</ng-template>

<ng-template #template2>

  <div class="modal-header">
    <h4 class="modal-title pull-left">Factibilidad </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="ocultarModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="card-body">

    <div>
      <label>Cliente Potencial:</label>
      <label
        *ngIf="pClienteSeleccionado.kind == 'V' || pClienteSeleccionado.kind == 'E'">{{pClienteSeleccionado.nombre+" "+pClienteSeleccionado.apellido}}</label>
      <label
        *ngIf="pClienteSeleccionado.kind != 'V' || pClienteSeleccionado.kind != 'E'">{{pClienteSeleccionado.social}}</label>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-borderless tabla">
          <thead>
            <tr class="table-info">
              <th scope="col">DATOS</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let f of detallesFactibilidad | paginate: {id:'factibilidades', itemsPerPage: 1, currentPage: p }">
              <td>
                <h6>ID:</h6><br>
                <label>{{f.id}}</label><br>
                <h6>STATUS:</h6>
                <p *ngIf="f.status == 1" class="text-info">Pendiente</p><br>
                <p *ngIf="f.status == 2 && f.factible == 2" class="text-danger">No Factible</p><br>
                <p *ngIf="f.status == 2 && f.factible == 1" class="text-success">Factible</p><br>
                <p *ngIf="f.status == 2 && f.factible == 3" class="text-warning">Corregir Coordenadas</p><br>
                <p *ngIf="f.status == 2 && f.factible == 4" class="text-secondary">Amerita Visita</p><br>
                <h6>COORDENADAS:</h6>
                <p>{{f.coordenadaslat}} - {{f.coordenadaslon}}</p>
                <div *ngIf="f.status == 2 && (f.factible == 1 || f.factible == 4)">
                  <h6>EQUIPO:</h6>
                  <p>{{f.nombreEquipo}}</p>
                  <h6>CELDA:</h6>
                  <p>{{f.nombreCelda}}</p>
                  <h6>ALTURA:</h6>
                  <p>{{f.altura}} Mts</p>
                  <h6>USUARIO:</h6>
                  <p>{{f.usuario_responsable}}</p>
                  <h6>PTP:</h6>
                  <p>{{f.nombrePtp}}</p>
                </div>
                <button (click)="agendarCliente(f.id,template3)" *ngIf="f.status == 2 && f.factible == 1"
                  style="background-color:#1F9BCF;" title="Agendar Venta" type="button"
                  class="btn btn-info btn-sm ">
                  <md-icon>event</md-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls id="factibilidades" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</ng-template>



<ng-template #template3>
  <div class="modal-body text-center">
    <p>¿Esta seguro que de agendar venta?</p>
    <button type="button" class="btn btn-info" (click)="aceptarVenta()" >Si</button>
    <button type="button" class="btn btn-danger" (click)="NegarVenta()" >No</button>
  </div>
</ng-template>


<ng-template #template4>

  <div class="modal-header">
    <h4 class="modal-title pull-left">Editar Cliente</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal4()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="card-body">


    <div class="row">
      <div class="col-sm-6">
        <label class="col-form-label" for="inputDefault">Nombres</label>
        <input type="text" [(ngModel)]="pClienteModificable.nombre" [value]="pClienteModificable.nombre"
          class="form-control" id="inputDefault" required>
      </div>

      <div class="col-sm-6">
        <label class="col-form-label" for="inputDefault">Apellidos</label>
        <input type="text" [(ngModel)]="pClienteModificable.apellido" [value]="pClienteModificable.apellido"
          class="form-control" id="inputDefault" required>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-sm-4">
        <label class="control-label" for="disabledInput">Tipo</label>
        <select [(ngModel)]="pClienteModificable.kind" [(ngModel)]="pClienteModificable.kind" class="form-control"
          id="exampleSelect1" required>
          <option value="V">V</option>
          <option value="E">E</option>
          <option value="J">J</option>
          <option value="V-">V- Firma Personal</option>
          <option value="G">G</option>
        </select>
      </div>

      <div class="col-sm-8 cedula">
        <input type="text" placeholder="Cedula/RIF" [(ngModel)]="pClienteModificable.dni"
          [value]="pClienteModificable.dni" class="form-control" id="inputDefault" required>
      </div>
    </div>
    <br>


    <div class="row">
      <div class="col-sm-6">
        <label class="col-form-label" for="inputDefault">Fecha de Nacimiento</label>
        <input type="date" [(ngModel)]="pClienteModificable.day_of_birth" [value]="pClienteModificable.day_of_birth"
          class="form-control" required>
      </div>

      <div class="col-sm-6">
        <label class="col-form-label" for="inputDefault">Telefono</label>
        <input [(ngModel)]="pClienteModificable.phone1" [value]="pClienteModificable.phone1" type="number"
          class="form-control" id="inputDefault" required>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <label class="col-form-label" for="inputDefault">Correo</label>
        <input [(ngModel)]="pClienteModificable.email" [value]="pClienteModificable.email" type="email"
          class="form-control" id="inputDefault" required>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-sm-6">
        <label class="control-label" for="disabledInput">Estado</label>
        <select [(ngModel)]="pClienteModificable.estado" (change)="Municipios()" class="form-control"
          id="exampleSelect1" required>
          <option value=""></option>
          <option *ngFor="let e of estados" [value]="e.id_estado">{{e.estado}}</option>
        </select>
      </div>

      <div class="col-sm-6">
        <label class="control-label" for="disabledInput">Municipio</label>
        <select [(ngModel)]="pClienteModificable.municipio" (change)="Parroquias()" class="form-control"
          id="exampleSelect1" required>
          <option value=""></option>
          <option *ngFor="let m of municipios" [value]="m.id_municipio">{{m.municipio}}</option>
        </select>
      </div>

    </div>
    <br>

    <div class="row">
      <div class="col-sm-6">
        <label class="control-label" for="disabledInput">Parroquias</label>
        <select [(ngModel)]="pClienteModificable.parroquia" class="form-control" id="exampleSelect1" required>
          <option value=""></option>
          <option *ngFor="let p of parroquias" [value]="p.id_parroquia">{{p.parroquia}}</option>
        </select>
      </div>
      <div
        *ngIf="pClienteModificable.kind == 'J' || pClienteModificable.kind == 'G' || pClienteModificable.kind == 'V-'"
        class="col-sm-6 social">
        <label class="col-form-label" for="inputDefault">Social</label>
        <input [(ngModel)]="pClienteModificable.social" [value]="pClienteModificable.social" type="text"
          class="form-control" id="inputDefault" required>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="exampleTextarea">Direccion</label>
          <textarea [(ngModel)]="pClienteModificable.direccion" [value]="pClienteModificable.direccion"
            class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
      </div>
    </div>

    <div>
      <button (click)="editarCliente()" type="button" class="btn btn-info">Editar</button>
    </div>
  </div>

</ng-template>