<div *ngIf="factibi==1">
  <h1 md-dialog-title>Confirmacion</h1>
  <div md-dialog-content *ngIf="data.kind == 'v' || data.kind == 'V' || data.kind == 'e' || data.kind == 'E'">
    <p>Esta seguro que desea registrar el cliente potencial: {{data.nombre+" "+data.apellido | capitalize2:true}} como cliente regular?</p>
  </div>
  <div md-dialog-content *ngIf="data.kind == 'g' || data.kind == 'G' || data.kind == 'j' || data.kind == 'J'">
    <p>Esta seguro que desea registrar el cliente potencial: {{data.social | capitalize2:true}} como cliente regular?</p>
  </div>
</div>
<div *ngIf="factibi !=1">
  <h1 md-dialog-title>Confirmacion</h1>
  <div md-dialog-content *ngIf="data.kind == 'v' || data.kind == 'V' || data.kind == 'e' || data.kind == 'E'">
    <p>¿Esta seguro que desea registrar el cliente potencial: {{data.nombre+" "+data.apellido | capitalize2:true}} como cliente regular sin realizar la factibilidad?</p>
  </div>
  <div md-dialog-content *ngIf="data.kind == 'g' || data.kind == 'G' || data.kind == 'j' || data.kind == 'J'">
    <p>¿Esta seguro que desea registrar el cliente potencial: {{data.social | capitalize2:true}} como cliente regular sin realizar la factibilidad?</p>
  </div>
</div>

<div md-dialog-actions>
  <tr>
    <td>
      <button md-raised-button  class="example-half-width btn btn-primary b-btn" (click)="register()" tabindex="2">SI</button>

    </td>
    <td>
      <button md-raised-button color="warn" class="example-half-width btn btn-danger" type="button" (click)="onNoClick()" tabindex="-1">NO</button>

    </td>
  </tr>
</div>
