<h1 md-dialog-title>Presupuestos Enviados</h1>
<div *ngIf="row.kind == 'V' || row.kind == 'E'">Cliente: {{(row.nombre+" "+row.apellido) | capitalize2:true }}</div>
<div *ngIf="row.kind == 'J' || row.kind == 'G'">Cliente: {{row.social | capitalize2:true }}</div>




<table>
  <thead>
    <tr>
      <th style="text-align: center; width: 10%">
        <h3>N</h3>
      </th>
      <th style="text-align: center; width: 10%">
        <h3>Monto</h3>
      </th>
      <th style="text-align: center">
        <h3>Planes Seleccionados</h3>
      </th>
      <th style="text-align: center">
        <h3>Fecha de enviado</h3>
      </th>

    </tr>
  </thead>
  <tbody class="fac">
    <tr *ngFor="let i of presupuestos">
      <td class="fac " colspan="1">
        {{i.created_at | stringToDate | date: 'yyyyMd'+i.id}}
      </td>
      <td class="fac " (click)="status(i)" style="border-right: 1px solid #000000; text-align: right">
        {{i.instalacion+i.moneda}}
      </td>
      <td *ngIf="i.planes == 'r'" class="fac " colspan="1">
        Residenciales
      </td>
      <td *ngIf="i.planes == 'c'" class="fac " colspan="1">
        Comerciales
      </td>
      <td *ngIf="i.planes == 'd'" class="fac " colspan="1">
        Dedicados
      </td>
      <td *ngIf="i.planes == 'h'" class="fac " colspan="1">
        Happy Time
      </td>
      <td class="fac">{{i.created_at | stringToDate | date: 'd/M/yy'}}</td>
  </tr>
  </tbody>

</table>
<ng-template #elseblock>
  <font color="#00c402">
    <h1>Cliente Sin Presupuestos</h1>
  </font>
</ng-template>
