<form class="example-form" id="client" name="clientForm" [formGroup]="addClient" ng-submit="ok(clientForm)" novalidate>
  <table class="example-full-width" cellspacing="0">
    <tr>
    <td colspan="2">
      <md-form-field class="example-full-width">
        <input type="text" name="nombre"
        class="form-control"
        formControlName="name"
        placeholder="Nombre"

        required
        mdInput
        >
      </md-form-field>

    </td>
  </tr>
  <tr>

    <td colspan="2">
      <md2-select formControlName="tipo"
                placeholder="Tipo de equipo"
                style="width=100%; min-width: 100%; min-height: 100%;"
                mdInput
                >
                <md2-option value="1">Equipo</md2-option>
                <md2-option value="2">Radio</md2-option>
                <md2-option value="3">Antena</md2-option>
                <md2-option value="4">Router</md2-option>
                <md2-option value="5">Switch</md2-option>
                <md2-option value="6">Base de antena</md2-option>
    </md2-select>
    </td>

  </tr>
<tr>
    <td>


      <button *ngIf="row == null" md-raised-button  class="example-half-width btn btn-primary b-btn" (click)="Enviar()"><i class="fa fa-paper-plane" aria-hidden="true"></i> Guardar</button>
      <button *ngIf="row != null"md-raised-button class="example-half-width btn btn-primary b-btn" (click)="Editar()"><i class="fa fa-paper-plane" aria-hidden="true"></i> Editar</button>
    </td><td>

      <button md-raised-button color="warn" class="example-half-width btn btn-danger" type="button" (click)="onNoClick()"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
    </td>
  </tr>
  <p>

  </p>
</table>
</form>
