<md-toolbar class="submenu">
  <md-form-field floatPlaceholder="never">
  <input mdInput placeholder="Filtrar" class="md2-input" [(ngModel)]="search" />
  </md-form-field>
  <span class="example-spacer" style="text-align: center;">Equipos</span>
  <button md-raised-button (click)="this.myService.refresh()" >
    <md-icon>cached</md-icon> Actualizar Lista
  </button>
  <button md-raised-button (click)="openDialog()" *ngIf="usuario.perm && usuario.perm.includes('equipos_w')" >
    <md-icon>group_add</md-icon> Agregar Equipo
  </button>

</md-toolbar>
<div class="contenido">

<table class=addClient [md2Data]="data | dataPipe: { nombre: search}" #md2="md2DataTable" [rowsPerPage]="10">
  <thead>
    <tr>
      <td colspan="6">
        <md2-pagination [rowsPerPageSet]="[5,10,15]" paginationLabel="Filas por pagina"></md2-pagination>
      </td>
    </tr>
    <tr>
      <th style="width: 20%" md2SortBy="name">Equipo</th>
      <th style="width: 20%">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of md2.data">
      <td style="width: 20%">{{i.name}}</td>
      <td style="width: 20%" *ngIf="usuario.perm && !usuario.perm.includes('equipos_w')">
        No Autorizado
      </td>
      <td style="width: 20%" *ngIf="usuario.perm && usuario.perm.includes('equipos_w')">
        <button md-icon-button style="color:#106cc8" (click)="show(i)">
        <md-icon class="md-24" aria-label="Editar Cliente" >mode_edit</md-icon>
      </button>
      <button md-icon-button color="warn"(click)="delete(i.id)">
          <md-icon class="md-24" aria-label="Eliminar Cliente">delete</md-icon>
      </button>
    </td>
    </tr>
  </tbody>
  <tfoot>

  </tfoot>
</table>
</div>
