.body{
  margin: 5%;
  margin-right: 1%;
  margin-left: 1%;
}
.submenu{
  max-width:100vw;
  padding-top: 60px;
}

.cliente{
  text-align: center;
  border-radius: 10px;
}

.imagenPerfil{
  margin-top:10% ;
}

.nombre{
  margin-top: 4% ;
}

.datos{
  text-align: left;
  color: black;
}

.datos p{
  margin-left: 3%;
}


.card{
  position: relative;
  display: block;
  width: 32%;
  max-width: 45%;
  min-width: 45%;
  margin-left: 0.5em;
  margin-bottom: 0.5em ;
  padding: 0 2px 0;
}

@media all and (min-width: 480px) {

  .x700{display:block;}
  .x290{display:none;}

}

@media all and (max-width: 479px) {

  .x700{display:none;}
  .x290{display:block;}
  .card{
    min-width: 100%;
  }
}

table.fac, th.fac, td.fac {
  border:1px solid black
}

.updateicon {
  color: red;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(-360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(-360deg); }
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(-360deg);
  }
}
table.fac, th.fac, td.fac {
  border:1px solid black;
}


td.hover:hover{
  background-color: rgb(62, 166, 251);
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.example-half-width {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}
table.addClient {
  display: table;
  border: 1px solid rgba(black, 0.12);
  border-spacing: 0;
  background-color: rgba(255, 255, 255, 0.6);
  border-collapse: collapse;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
  text-align: left;


  tr {
    position: relative;
    max-height: 36px;
    vertical-align: middle;

    &:hover {
      background-color: #868686;
    }
  }

  th {
    padding: 0 16px;
    text-align: right;
  }
  td {
    padding: 0 16px;
    text-align: right;
  }

  td {
    position: relative;
    vertical-align: middle;
    height: 36px;
    border-top: 1px solid rgba(black, 0.12);
    border-bottom: 1px solid rgba(black, 0.12);
    box-sizing: border-box;
    color: rgba(black, 0.87);
  }
}


table{
  width: 100%;
  text-align: left;
  border-collapse: collapse;

}

.icono {
  font-size: 15px;
}
.left {
  position: absolute;
  left: 0;
  width: 120px;

}
.right {
  position: absolute;
  right: 0;
  width: 120px;

}
.btn1 {
  background-color: #F0FDFF;
  color: black;

  cursor: pointer;
}
.info1 {
  color:#2C2C30
}

.info1:hover {
  background: #2C2C30;
  border-radius: 5px;
  color: white;
}

.icono1{
  color:#2C2C30;
padding: 6px 45px;
}.icono1:hover{
  color: #f3f3f3
}

.centrado{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.b-btn {
background-color: #106cc8;
color:white;
}

.cedula{
  margin-top: 28px;
}
.social{
  margin-top: -15px;
}

.acordion{
  width: 90%;
}


.tr{
  line-height: 1px;
  min-height: 1px;
  height: 1px;
  cursor: pointer;
}

.td{
  line-height: 1px;
  min-height: 1px;
  height: 1px;
}

.botonNota{
  margin-top: -21px;
}
.modal{
  padding: 10px;
}

.nota{
  border: #545454 2px solid;
  border-radius: 5px;
  font-style: italic;
  font-weight: 900;
  color: #545454;
  padding: 5px;
}

.datos{
  border-left: #545454 2px solid;
  padding-left: 1%;
}

.productos{
  margin-top: 10px;
  min-height: 250px;
}
.precios{
    border: #545454 2px solid;
}
.subtotal{
  margin-top: 5px;
}
.iva{
  margin-top: 5px;
}
.total{
  margin-top: 5px;
  border-left: #545454 2px solid;
}

.notaCredito{
  padding: 1%;
}

.cuerpoNota{
  min-height:1000px;
}

tbody{
  height: 250px;
}

.GenerarAjusteFacturaPago{
  background-color:#2C2C30;
  margin: 5px 10px;
  cursor: pointer;
  color: white;
}

.editarDatos{
  background-color: #2C2C30;
  color: white;
}

.enviarPresupuesto:hover{
  background-color: #2C2C30;
  color: white;
  transition: all .5s ease;
}

.accordion .contentBx{
  margin: 10px 20px;
}

.accordion .contentBx .label{
  position: relative;
  padding: 10px;
  background-color: #103F4B;
  color: white;
  cursor: pointer;
}

.accordion .contentBx .label2{
  position: relative;
  padding: 10px;
  background-color: #430F0F;
  color: white;
  cursor: pointer;
}

.accordion .contentBx .label3{
  position: relative;
  padding: 10px;
  background-color: #260D3E;
  color: white;
  cursor: pointer;
}
.accordion .contentBx .label4{
  position: relative;
  padding: 10px;
  background-color: #2B2B09;
  color: white;
  cursor: pointer;
}

.accordion .contentBx #label5{
  position: relative;
  padding: 10px;
  background-color: #17340B;
  color: white;
  cursor: pointer;
}

.algo{
  position: relative;
  padding: 10px;
  background-color: #AF2626;
  color: white;
  cursor: pointer;
}

.accordion .contentBx .label::before{
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.accordion .contentBx .label2::before{
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.accordion .contentBx .label3::before{
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.accordion .contentBx .label4::before{
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.accordion .contentBx #label5::before{
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.accordion .contentBx .label4::before{
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.accordion .contentBx #cuerpoServicio{
  padding: 10px;
  background-color: #F0FDFF;
  color: white;
}

.accordion .contentBx #cuerpoHistorial{
  padding: 10px;
  background-color: #FFF0F0;
  color: white;
}

.accordion .contentBx #cuerpoRegistroPagos{
  padding: 10px;
  background-color: #F6F0FF;
  color: white;
}



.accordion .contentBx #cuerpoTicket{
  padding: 10px;
  background-color: #FFFEF0;
  color: white;
}

.accordion .contentBx #cuerpoFacturas{
  padding: 10px;
  background-color: #F0FFF1;
  color: white;
}





.botonBalancePago{
  float:right;
  background-color:#F6F0FF ;
  transition:all .5s ease;
  color: black;
}

.botonBalancePago:hover{
  background-color: #260D3E;
  transition:all .5s ease;
  border-radius: 5px;
  color: white;
}

.botonFacturas{
  float:right;
  background-color:#F0FFF1 ;
  transition:all .5s ease;
  color: black;
}

.botonFacturas:hover{
  background-color: #17340B;
  transition:all .5s ease;
  border-radius: 5px;
  color: white;
}

.botonPagos{
  float:right;
  background-color:#F6F0FF ;
  transition:all .5s ease;
  color: black;
}

.botonPagos:hover{
  background-color: #260D3E;
  transition:all .5s ease;
  border-radius: 5px;
  color: white;
}




.statusBalanceP{
  font-size: 25px;
  width: 100%;
  background-color: #f9f9f9;
  padding-left: 10px;
  padding-right: 10px;
  color: #4DAF26;
  border-radius: 5px;
  transition: all .5s ease;
}

.statusBalanceP:hover{
  background-color: #4DAF26;
  color: white;
}



.statusBalanceN{
  font-size: 25px;
  width: 100%;
  background-color: #f9f9f9;
  padding-left: 10px;
  padding-right: 10px;
  color: #AF2626;
  border-radius: 5px;
  transition: all .5s ease;
}
.statusBalanceN:hover{
  background-color: #AF2626;
  color: white;
}

.tipoCliente{
  font-size: 25px;
  width: 100%;
  background-color: #f9f9f9;
  padding-left: 10px;
  padding-right: 10px;
  color: #266AAF;
  border-radius: 5px;
  transition: all .5s ease;
}

.tipoCliente:hover{
  background-color: #266AAF;
  color: white;
}


.ServiciosContratados{
  font-size: 25px;
  width: 100%;
  background-color: #f9f9f9;
  padding-left: 10px;
  padding-right: 10px;
  color: #7926AF;
  border-radius: 5px;
  transition: all .5s ease;
}

.ServiciosContratados:hover{
  background-color: #7926AF;
  color: white;
}