<form class="example-form" id="client" name="clientForm" [formGroup]="addplan" ng-submit="ok(clientForm)" novalidate>
  <table class="example-full-width" cellspacing="0">

    <tr>

      <td colspan="2">
        <md2-select formControlName="tipo_plan"
                    placeholder="Tipo de servicio"
                    style="width=100%; min-width: 100%; min-height: 100%;"
                    mdInput>
          <md2-option value="1">Planes antiguos</md2-option>
          <md2-option value="4">Planes nuevos</md2-option>
          <md2-option value="3">Planes exclusivos en dolares</md2-option>
          <md2-option value="2">Otros</md2-option>

        </md2-select>
      </td>

    </tr>

    <tr>
      <td colspan="2">
        <md-form-field class="example-full-width">
          <input type="text" name="nombre"
          class="form-control"
          formControlName="name_plan"
          placeholder="Nombre"

          required
          mdInput
          >
        </md-form-field>

      </td>
    </tr>
    <tr>

      <td colspan="2" *ngIf="addplan.value.tipo_plan==1||addplan.value.tipo_plan==4||addplan.value.tipo_plan==2||addplan.value.tipo_plan !=3">

        <md-form-field class="example-full-width">
          <input type="text" name="costo"
          class="form-control"
          placeholder="Costo"
          formControlName="cost_plan"

          required
          mdInput
          >
        </md-form-field>

      </td>
    </tr>

    <tr>

      <td colspan="2" *ngIf="addplan.value.tipo_plan==1||addplan.value.tipo_plan==4||addplan.value.tipo_plan==2||addplan.value.tipo_plan !=3">

        <md-form-field class="example-full-width">
          <input type="text" name="taza"
          class="form-control"
          placeholder="Costo $"
          formControlName="taza"

          required
          mdInput
          >
        </md-form-field>

      </td>
    </tr>
    <tr>

      <td colspan="2" *ngIf="addplan.value.tipo_plan==3">

        <md-form-field class="example-full-width">
          <input type="text" name="costo"
                 class="form-control"
                 placeholder="Costo $"
                 formControlName="taza"

                 required
                 mdInput
          >
        </md-form-field>

      </td>
    </tr>
  <tr *ngIf="addplan.value.tipo_plan==1||addplan.value.tipo_plan==3 ||addplan.value.tipo_plan==4 ">

    <td colspan="2">

      <md-form-field class="example-full-width">
        <input type="text" name="dmb"
        class="form-control"
        placeholder="MB de descarga"
        formControlName="dmb_plan"
        mdInput
        >
      </md-form-field>

    </td>
  </tr>
  <tr *ngIf="addplan.value.tipo_plan==1||addplan.value.tipo_plan==3 ||addplan.value.tipo_plan==4">

    <td colspan="2">

      <md-form-field class="example-full-width">
        <input type="text" name="umb"
        class="form-control"
        placeholder="MB de subida"
        formControlName="umb_plan"
        mdInput
        >
      </md-form-field>

    </td>
  </tr>

  <tr *ngIf="addplan.value.tipo_plan==1||addplan.value.tipo_plan==4 ||addplan.value.tipo_plan==3">

    <td colspan="2">
      <md2-select formControlName="carac_plan"
      placeholder="Caracteristica de servicio"
      style="width=100%; min-width: 100%; min-height: 100%;"
      mdInput>
      <md2-option value="1">Asimetrico</md2-option>
      <md2-option value="2">Simetrico</md2-option>
    </md2-select>
  </td>

  </tr>

  <tr>
    <td>


      <button *ngIf="row == null" md-raised-button class="example-half-width btn b-btn btn-primary" (click)="Enviar()"><i class="fa fa-paper-plane" aria-hidden="true"></i> Guardar</button>
      <button *ngIf="row != null"md-raised-button class="example-half-width btn b-btn btn-primary" (click)="Editar()"><i class="fa fa-paper-plane" aria-hidden="true"></i> Editar</button>
    </td><td>

      <button md-raised-button color="warn" class="example-half-width btn btn-danger" type="button" (click)="onNoClick()"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
    </td>
  </tr>
  <p>

  </p>
</table>
</form>
