<form class="example-form" id="client" name="clientForm" [formGroup]="addplan" ng-submit="ok(clientForm)" novalidate>
  <table class="example-full-width" cellspacing="0">
    <tr>
    <td colspan="2">
      <md-form-field class="example-full-width">
        <input type="text" name="nombre"
        class="form-control"
        formControlName="name_plan"
        placeholder="Nombre"

        required
        mdInput
        >
      </md-form-field>

    </td>
  </tr>
  <tr>

    <td colspan="2">

      <md-form-field class="example-full-width">
        <input type="text" name="costo"
        class="form-control"
        placeholder="Costo"
        formControlName="cost_plan"

        required
        mdInput
        >
      </md-form-field>

    </td>
  </tr>
  <tr>

    <td colspan="2">

      <md-form-field class="example-full-width">
        <input type="text" name="taza"
        class="form-control"
        placeholder="Costo $"
        formControlName="taza"

        required
        mdInput
        >
      </md-form-field>

    </td>
  </tr>


<tr>
    <td>


      <button *ngIf="row == null" md-raised-button color="primary" class="example-half-width btn btn-primary" (click)="Enviar()"><i class="fa fa-paper-plane" aria-hidden="true"></i> Guardar</button>
      <button *ngIf="row != null"md-raised-button color="primary" class="example-half-width btn btn-primary" (click)="Editar()"><i class="fa fa-paper-plane" aria-hidden="true"></i> Editar</button>
    </td><td>

      <button md-raised-button color="warn" class="example-half-width btn btn-danger" type="button" (click)="onNoClick()"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
    </td>
  </tr>
  <p>

  </p>
</table>
</form>
