<md-toolbar class="submenu x290">
  <md-form-field floatPlaceholder="never">
    <input mdInput placeholder="Filtrar" class="md2-input" [(ngModel)]="search" />
  </md-form-field>
  <span class="example-spacer"></span>
  <button md-icon-button (click)="this.myService.refresh()" >
    <md-icon>cached</md-icon>
  </button>
  <button md-icon-button (click)="openDialog()" >
    <md-icon>group_add</md-icon>
  </button>

</md-toolbar>
<md-toolbar class="submenu x700">
  <md-form-field floatPlaceholder="never">
    <input mdInput placeholder="Filtrar" class="md2-input" [(ngModel)]="search" />
  </md-form-field>
  <span class="example-spacer" style="text-align: center;">Planes</span>
  <button md-raised-button (click)="refresh(true)" >
    <md-icon [class.updateicon]="update">cached</md-icon> Actualizar Lista
  </button>
  <button md-raised-button (click)="updatePrices()" *ngIf="usuario.perm && usuario.perm.includes('planes_w')">
    <!--md-icon>cached</md-icon--> Actualizar Precios
  </button>
  <button md-raised-button (click)="openDialog()" *ngIf="usuario.perm && usuario.perm.includes('planes_w')">
    <md-icon>group_add</md-icon> Agregar Plan
  </button>

</md-toolbar>
<md-tab-group *ngIf="usuario.perm && usuario.perm.includes('planes_esp') ; else elseblock">
  <md-tab label="Planes y productos Antiguos">
    <div class="contenido">

      <table class=addClient [md2Data]="planesn | dataPipe: { name_plan: search}" #md2="md2DataTable" [rowsPerPage]="15" *ngIf="data  ">
        <thead >
          <tr>
            <td colspan="6">
              <md2-pagination [rowsPerPageSet]="[5,10,15]" paginationLabel="Filas por pagina"></md2-pagination>
            </td>
          </tr>
          <tr>
            <th style="width: 30%" md2SortBy="ip_srvidor">Nombre</th>
            <th style="width: 10%" md2SortBy="nombre_srvidor">Costo</th>
            <th style="width: 10%" md2SortBy="user_srvidor">Costo $</th>
            <th style="width: 30%" md2SortBy="user_srvidor">Ultima Actualizacion</th>
            <th style="width: 10%">Acciones</th>
          </tr>
        </thead>
        <tbody  >
          <tr *ngFor="let i of md2.data" class="hover">
            <td style="width: 30%">{{i.name_plan}}</td>
            <td style="width: 10%">{{i.cost_plan | number : '1.0-2'}} Bs.S</td>
            <td style="width: 10%">{{i.taza | currency : 'USD' : 'symbol' : '1.0-2' : 'fr'}}</td>
            <td style="width: 30%">{{i.updated_at}}</td>
            <td style="width:10%" *ngIf="usuario.perm && !usuario.perm.includes('planes_w')">
              No Autorizado
            </td>
            <td style="width: 10%" *ngIf="usuario.perm && usuario.perm.includes('planes_w')">
              <button md-icon-button color="primary" (click)="show(i)">
                <md-icon class="md-24" aria-label="Editar AP" >mode_edit</md-icon>
              </button>
              <!--button md-icon-button color="warn"(click)="delete(i.id_srvidor)"-->
              <button md-icon-button color="warn"(click)="deleteDialog(i)">
                <md-icon class="md-24" aria-label="Eliminar AP">delete</md-icon>
              </button>


            </td>
          </tr>
        </tbody>
        <tfoot>

        </tfoot>
      </table>
    </div>
  </md-tab>
  <md-tab label="Planes y productos Nuevos">
    <div class="contenido">

      <table class=addClient [md2Data]="planes2 | dataPipe: { name_plan: search}" #md2="md2DataTable" [rowsPerPage]="15" *ngIf="data  ">
        <thead >
        <tr>
          <td colspan="6">
            <md2-pagination [rowsPerPageSet]="[5,10,15]" paginationLabel="Filas por pagina"></md2-pagination>
          </td>
        </tr>
        <tr>
          <th style="width: 30%" md2SortBy="ip_srvidor">Nombre</th>
          <th style="width: 10%" md2SortBy="nombre_srvidor">Costo</th>
          <th style="width: 10%" md2SortBy="user_srvidor">Costo $</th>
          <th style="width: 30%" md2SortBy="user_srvidor">Ultima Actualizacion</th>
          <th style="width: 10%">Acciones</th>
        </tr>
        </thead>
        <tbody  >
        <tr *ngFor="let i of md2.data" class="hover">
          <td style="width: 30%">{{i.name_plan}}</td>
          <td style="width: 10%">{{i.cost_plan | number : '1.0-2'}} Bs.S</td>
          <td style="width: 10%">{{i.taza | currency : 'USD' : 'symbol' : '1.0-2' : 'fr'}}</td>
          <td style="width: 30%">{{i.updated_at}}</td>
          <td style="width:10%" *ngIf="usuario.perm && !usuario.perm.includes('planes_w')">
            No Autorizado
          </td>
          <td style="width: 10%" *ngIf="usuario.perm && usuario.perm.includes('planes_w')">
            <button md-icon-button color="primary" (click)="show(i)">
              <md-icon class="md-24" aria-label="Editar AP" >mode_edit</md-icon>
            </button>
            <!--button md-icon-button color="warn"(click)="delete(i.id_srvidor)"-->
            <button md-icon-button color="warn"(click)="deleteDialog(i)">
              <md-icon class="md-24" aria-label="Eliminar AP">delete</md-icon>
            </button>


          </td>
        </tr>
        </tbody>
        <tfoot>

        </tfoot>
      </table>
    </div>
  </md-tab>
  <md-tab label="Planes exclusivos en dolares">
    <div class="contenido">

      <table class=addClient [md2Data]="planesd | dataPipe: { name_plan: search}" #md2="md2DataTable" [rowsPerPage]="15" *ngIf="data ">
        <thead>
        <tr>
          <td colspan="6">
            <md2-pagination [rowsPerPageSet]="[5,10,15]" paginationLabel="Filas por pagina"></md2-pagination>
          </td>
        </tr>
        <tr>
          <th style="width: 30%" md2SortBy="ip_srvidor">Nombre</th>
          <th style="width: 20%" md2SortBy="nombre_srvidor">Costo</th>
          <th style="width: 30%" md2SortBy="user_srvidor">Ultima Actualizacion</th>
          <th style="width:20%">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr   *ngFor="let i of md2.data" class="hover">
          <td style="width: 30%">{{i.name_plan}}</td>
          <td   style="width: 20%">{{i.taza| currency : 'USD' : 'symbol' : '1.0-2' : 'fr'}}</td>
          <td style="width: 30%">{{i.updated_at}}</td>
          <td style="width:20%" *ngIf="usuario.perm && !usuario.perm.includes('planes_w')">
            No Autorizado
          </td>
          <td style="width: 10%" *ngIf="usuario.perm && usuario.perm.includes('planes_w')">
            <button md-icon-button color="primary" (click)="show(i)">
              <md-icon class="md-24" aria-label="Editar AP" >mode_edit</md-icon>
            </button>
            <!--button md-icon-button color="warn"(click)="delete(i.id_srvidor)"-->
            <button md-icon-button color="warn"(click)="deleteDialog(i)">
              <md-icon class="md-24" aria-label="Eliminar AP">delete</md-icon>
            </button>


          </td>
        </tr>
        </tbody>
        <tfoot>

        </tfoot>
      </table>
    </div>
  </md-tab>
  <md-tab label="Megas Contratados">
    <div class="contenido">

      <table class=addClient [md2Data]="mb | dataPipe: { name_plan: search}" #md2="md2DataTable" [rowsPerPage]="15" *ngIf="mb">
        <thead>
          <tr>
            <td colspan="3">
              <md2-pagination></md2-pagination>
            </td>
            <td>
            <md-radio-group [(ngModel)]="plan">
              <td>
              <md-radio-button value="p">Plan</md-radio-button>
            </td>
            <td>
              <md-radio-button value="r">Router</md-radio-button>
            </td>
            <td>
              <md-radio-button value="c">Celda</md-radio-button>
            </td>
            </md-radio-group>
          </td>
          </tr>
          <tr>
            <th style="width: 25%" md2SortBy="name_plan">Nombre</th>
            <th style="width: 25%" md2SortBy="cantidad">Cantidad de servicios</th>
            <th style="width: 25%" md2SortBy="descarga">Total de descarga</th>
            <th style="width: 25%" md2SortBy="subida">Total de subida</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of md2.data" class="hover">
            <td style="width: 30%">{{i.name_plan}}</td>
            <td style="width: 10%">{{i.cantidad}} Servicios Contratados</td>
            <td style="width: 10%">{{i.descarga}} Mb</td>
            <td style="width: 30%">{{i.subida}} Mb</td>
          </tr>
        </tbody>
        <tfoot>

        </tfoot>
      </table>
    </div>
  </md-tab>


</md-tab-group>
<ng-template #elseblock>
  <div class="contenido">

    <table class=addClient [md2Data]="data | dataPipe: { name_plan: search}" #md2="md2DataTable" [rowsPerPage]="15">
      <thead>
        <tr>
          <td colspan="6">
            <md2-pagination [rowsPerPageSet]="[5,10,15]" paginationLabel="Filas por pagina"></md2-pagination>
          </td>
        </tr>
        <tr>
          <th style="width: 30%" md2SortBy="ip_srvidor">Nombre</th>
          <th style="width: 10%" md2SortBy="nombre_srvidor">Costo</th>
          <th style="width: 10%" md2SortBy="user_srvidor">Costo $</th>
          <th style="width: 30%" md2SortBy="user_srvidor">Ultima Actualizacion</th>
          <th style="width: 10%">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of md2.data">
          <td style="width: 30%">{{i.name_plan}}</td>
          <td style="width: 10%">{{i.cost_plan | number : '1.0-2'}} Bs.S</td>
          <td style="width: 10%">{{i.taza | currency : 'USD' : 'symbol' : '1.0-2' : 'fr'}}</td>
          <td style="width: 30%">{{i.updated_at}}</td>
          <td style="width:10%" *ngIf="usuario.perm && !usuario.perm.includes('planes_w')">
            No Autorizado
          </td>
          <td style="width: 10%" *ngIf="usuario.perm && usuario.perm.includes('planes_w')">
            <button md-icon-button color="primary" (click)="show(i)">
              <md-icon class="md-24" aria-label="Editar AP" >mode_edit</md-icon>
            </button>
            <!--button md-icon-button color="warn"(click)="delete(i.id_srvidor)"-->
            <button md-icon-button color="warn"(click)="deleteDialog(i)">
              <md-icon class="md-24" aria-label="Eliminar AP">delete</md-icon>
            </button>


          </td>
        </tr>
      </tbody>
      <tfoot>

      </tfoot>
    </table>
  </div>
</ng-template>
