.fondo{
	background-size: cover;
	background-repeat: no-repeat;
	height: 99vh;
	width: 100%;
}

.login{
	background-image: url(../../assets/images/blanco.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 99vh;
	width: 100%;
}

.form{
	width: 100%;
}

.full{
max-width: 100%;
}