<div class="row">

	<div class="col-sm-9 fondo" [ngStyle]="{'background-image': 'url(' + fondoSeleccionado + ')'}" >

	</div>
	<div class="col-sm-3 login">
		<div class="container">
			<h1 style="font-weight: bold;text-transform: uppercase;color:#ffffff;"> </h1>
			<div class="login-form">
				<div class="head-info">
					<h3>Sistema Administrativo</h3>
				</div>

				<div *ngIf="error" class="alert alert-dismissible alert-danger">
					Error en Usuario Y Contraseña
				</div>
				<div class="avtar">
					<img src="../../assets/images/avtar.png" />
				</div>
				<form [formGroup]="log">
					<div class="form-group">
						<label class="col-form-label" for="inputDefault">Usuario</label>
						<input type="text" class="form-control" placeholder="Usuario" formControlName="username"
							autocomplete="off" [(ngModel)]="model.username">
					</div>
					<div class="form-group key">
						<label class="col-form-label" for="inputDefault">Contraseña</label>
						<input type="password" class="form-control" placeholder="Contraseña" formControlName="password"
							autocomplete="off" [(ngModel)]="model.password">
					</div>
					<div class="signin">
						<button (click)="login()" value="Ingresar" type="button" class="btn btn-info">Entrar</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>