.tabla{
    margin-top: 1%;
    margin-left: 5%;
}

.boton{
    margin-top: 20%;
}

.primero{
    margin-top: 5%;
    margin-left: 2%;
}

.boton2{
    float: left;
}

.titulo{
    margin-top: 4%;
}
.filtrado{
    margin-left: -8%;
}

.form{
    margin-left: 5%;
}



.numerosSoporte{
    height: 350px;
   background-color: white;
   text-align: center;
  }


  .cantidadSoporte{
    font-size: 25px;
    font-weight: 900;
    color: #71BBEC;
    margin-top: 5%;
  }