<div class="table-card">
<md-toolbar>
  <md-form-field floatPlaceholder="never">
  <input mdInput placeholder="Filtrar" class="md2-input" [(ngModel)]="search" />
  </md-form-field>
  <span class="example-spacer"></span>
  <button md-raised-button (click)="this.myService.refresh()" >
    <md-icon>cached</md-icon> Actualizar Lista
  </button>
  <button md-raised-button (click)="openDialog()" >
    <md-icon>group_add</md-icon> Agregar Celda
  </button>

</md-toolbar>
<div class="content">

<table class=addClient [md2Data]="data | dataPipe: { nombre_celda: search}" #md2="md2DataTable" [rowsPerPage]="15">
  <thead>
    <tr>
      <td colspan="6">
        <md2-pagination [rowsPerPageSet]="[5,10,15]" paginationLabel="Filas por pagina"></md2-pagination>
      </td>
    </tr>
    <tr>
      <th style="width: 40%" md2SortBy="nombre_celda">Celda</th>
      <th style="width: 40%" md2SortBy="nombre_srvidor">Router</th>
      <th style="width: 20%">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of md2.data">
      <td style="width: 40%">{{i.nombre_celda}}</td>
      <td style="width: 40%">{{i.nombre_srvidor}}</td>
      <td style="width: 20%">
        <button md-icon-button color="primary" (click)="show(i)">
        <md-icon class="md-24" aria-label="Editar Cliente" >mode_edit</md-icon>
      </button>
      <button md-icon-button color="warn"(click)="delete(i.id_celda)">
          <md-icon class="md-24" aria-label="Eliminar Cliente">delete</md-icon>
      </button>
    </td>
    </tr>
  </tbody>
  <tfoot>

  </tfoot>
</table>
</div>
</div>
