<form id="client" name="clientForm" [formGroup]="addDetails" novalidate>
<h1 md-dialog-title>Confirmacion</h1>
<div md-dialog-content>
  <p>Desea cerrar instalacion para {{data.row.nombre+" "+data.row.apellido}}?</p>
</div>
<div md-dialog-actions>
<table>
  <tr>
    <td colspan="3">
      Por favor ingrese los consumibles gastados
    </td>
  </tr>
  <tr>
    <td>
      <md-form-field>
      <input mdInput type="number" placeholder="Metro Inicial De Cable" class="md2-input" formControlName="cable1"/>
      <span mdSuffix>Metros</span>
      </md-form-field>

    </td>
    <td>
      <md-form-field>
      <input mdInput type="number" placeholder="Metro Final De Cable" class="md2-input" formControlName="cable2"/>
      <span mdSuffix>Metros</span>
      </md-form-field>

    </td>
    <td>
      <md-form-field>
      <input mdInput type="number" placeholder="Conectores" class="md2-input" formControlName="conectores" />
      </md-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <md-form-field>
      <input mdInput placeholder="IP" class="md2-input" formControlName="ip"/>
      </md-form-field>
    </td>
    <td *ngIf="aps && aps.length>0">
      <md2-select name="AP"
                formControlName="ap"
                placeholder="AccessPoint"
                style="width=100%; min-width: 100%;"
                mdInput
                >
      <md2-select-header>
        <input name="a_search"
               type="text"
               formControlName="a_search"
               [(ngModel)]="a_search"
               placeholder="Buscar..."
               style="width=95%; min-width: 95%; border: none; outline: none; height: 100%; padding: 0;"
               />
      </md2-select-header>
      <md2-option *ngFor="let i of (aps | dataPipe : {nombre_ap: a_search, ip_ap: a_search})" [value]="i.id">{{i.ip_ap + " " + i.nombre_ap}}</md2-option>
      </md2-select>
    </td>
    <td *ngIf="currentUser && currentUser.installer==0">
      <md2-select name="Installer"
                formControlName="installer"
                placeholder="Instalador"
                style="width=100%; min-width: 100%;"
                mdInput
                >
      <md2-select-header>
        <input name="a_search"
               type="text"
               formControlName="u_search"
               [(ngModel)]="u_search"
               placeholder="Buscar..."
               style="width=95%; min-width: 95%; border: none; outline: none; height: 100%; padding: 0;"
               />
      </md2-select-header>
      <md2-option *ngFor="let i of (installers | dataPipe : {nombre_user: u_search, apellido_user: u_search})" [value]="i.id_user">{{i.nombre_user + " " + i.apellido_user}}</md2-option>
      </md2-select>
    </td>
  </tr>
    <tr>

    <td colspan="3" *ngIf="data.row.ser1al==0 || (data.row.ser1al==1&&data.row.serial==0)">
      <md-form-field style="width=95%; min-width: 95%; border: none; outline: none; height: 100%; padding: 0;">
      <input mdInput placeholder="Serial" class="md2-input" (input)="nosymbol()" formControlName="serial" style="width=95%; min-width: 95%; border: none; outline: none; height: 100%; padding: 0;"/>
      </md-form-field>
    </td>
  </tr>
  <tr *ngIf="!sending">
    <td colspan="2" >
      <button md-raised-button color="primary" class="example-full-width btn btn-primary" (click)="service(data.row)" [disabled]='!addDetails.valid' tabindex="2">Si</button>

    </td>
    <td colspan="2">
      <button md-raised-button color="warn" class="example-full-width btn btn-danger" type="button" (click)="onNoClick()" tabindex="-1">No</button>

    </td>
  </tr>
  <tr *ngIf="sending">
      <td colspan="3" style="text-align:center">
        Enviando....
      </td>
  </tr>
</table>
</div>
</form>
