<div class="zonas">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 header">
            <div class="row">
                <div class="col-sm-2">
                    <h2 class="titulo">Lista de Ip</h2>
                </div>
                <div class="col-sm-3">
                    <select [(ngModel)]="mkSeleccionado" (change)="buscarIps()" class="form-control" id="input"
                        required>
                        <option value="0"></option>
                        <option *ngFor="let s of servidores" [value]="s.id_srvidor">{{s.nombre_srvidor}}
                            [{{s.ip_srvidor}}]</option>
                    </select>
                </div>
                <div class="col-sm-1 filtrado">
                    <button id="boton" (click)="actualizarLista()" title="Actualizar Lista Ips" type="button"
                        class="btn btn-info btn-sm ">
                        <md-icon>loop</md-icon>
                    </button>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-2">
                    <input *ngIf="mkSeleccionado != 0" (input)="filtradoIp($event.target.value)"
                        (keyup.backspace)="filtradoIpBackSpace($event.target.value)" type="text" class="form-control"
                        name="filtrado" placeholder="Filtrar" id="input2">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 header1 ">
            <div class="row">
                <div class="col-sm-3">

                </div>
            </div>
            <div class="row tablas">
                <div class="col-sm-6">
                    <table class="table table-borderless tabla">
                        <thead>
                            <tr class="table-default tr" style="background-color: #2C2C30; color:white;">
                                <th class="th" scope="col">ID</th>
                                <th class="th" scope="col">NOMBRE</th>
                                <th class="th" scope="col">APELLIDO</th>
                                <th class="th" scope="col">IP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tr" (click)="irCliente(i.id)"
                                *ngFor="let i of ips | paginate: {id:'ips', itemsPerPage: 10, currentPage: e }">
                                <td>
                                    {{i.id}}
                                </td>
                                <td>
                                    {{i.nombre}}
                                </td>
                                <td>
                                    {{i.apellido}}
                                </td>
                                <td>
                                    {{i.ip}}
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls id="ips" (pageChange)="e = $event"></pagination-controls>
                </div>
                <div class="col-sm-6">
                    <table class="table table-borderless tabla">
                        <thead>
                            <tr class="table-default tr" style="background-color: #DF7979; color:white;">
                                <th class="th" scope="col">ID</th>
                                <th class="th" scope="col">NOMBRE</th>
                                <th class="th" scope="col">APELLIDO</th>
                                <th class="th" scope="col">IP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tr" (click)="irCliente(i2.id)"
                                *ngFor="let i2 of ips2 | paginate: {id:'ips2', itemsPerPage: 10, currentPage: p }">
                                <td>
                                    {{i2.id}}
                                </td>
                                <td>
                                    {{i2.nombre}}
                                </td>
                                <td>
                                    {{i2.apellido}}
                                </td>
                                <td>
                                    {{i2.ip}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls id="ips2" (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>