.zonas{
    width: 97%;
    margin-left: 1%;
    margin-top: 5%;
    float: left;
    justify-content: center;
}

.filtrado{
    margin-top: -8px;
    margin-bottom: 1%;
}


tr{
    line-height: 1px;
    min-height: 1px;
    height: 1px;
    cursor: pointer;
}

td{
    line-height: 1px;
    min-height: 1px;
    height: 1px;
    padding: 15px;
}