<div class="row primero">
  <div class="col-sm-1">
    <button (click)="atras()" type="button" class="btn btn-info boton">Atras</button>
  </div>
  <div class="col-sm-11">
    <h1 class="titulo">ORDENES DE TRASLADO</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <div class="row">
      <div class="col-sm-10">
        <label for="exampleSelect1">Sede (Emisor)</label>
        <select [(ngModel)]="zonaSelected" (change)="onChange()" class="form-control" id="exampleSelect1" #ubicacion
          required>
          <option *ngFor="let zona of zonas" [value]="zona.id_zona">{{zona.nombre_zona}}</option>
        </select>
      </div>

      <div *ngIf="zonaSelected != 0" class="col-sm-10">
        <label for="exampleSelect1">Tipo de Traslado</label>
        <select [(ngModel)]="tipoSelected" (change)="onChange()" class="form-control" id="exampleSelect1" #ubicacion
          required>
          <option value="1">Instalaciones</option>
          <option value="2">Infraestructura</option>
          <option value="3">Ventas</option>
        </select>
      </div>

      <div *ngIf="zonaSelected != 0 && tipoSelected != 0" class="col-sm-10">
        <label for="exampleSelect1">Categoria</label>
        <select [(ngModel)]="categoriaSelected" class="form-control" id="exampleSelect1" required>
          <option *ngFor="let c of categorias" [value]="c.nombre_equipo">[{{c.nombre_tipo_art}}] {{c.nombre_equipo}}
          </option>
        </select>
      </div>

      <div *ngIf="zonaSelected != 0 && tipoSelected != 0 && categoriaSelected != ''" class="col-sm-10">
        <button (click)="traerEquipos()" type="button" class="btn btn-info btn-block boton">Mostrar
          Equipos</button>
      </div>

      <div *ngIf='equiposLista.length > 0' class="col-sm-10">
        <button (click)="openModal(template)" type="button" class="btn btn-success btn-block boton">Transferir
          Equipos</button>
      </div>
    </div>

  </div>

  <div class="col-sm-8">

    <div class="row">
      <div class="col-sm-12">
        <h5 *ngIf="mostrarEquipos">Nuevo Traslado</h5>
        <table *ngIf="mostrarEquipos" class="table table-borderless">
          <thead>
            <tr class="table-info">
              <th scope="col">#</th>
              <th scope="col">Equipo</th>
              <th scope="col">Serial</th>
              <th *ngIf="tipoSelected == 1 || tipoSelected == 3" scope="col">Cliente</th>
            </tr>
          </thead>
          <tbody>
            <tr (click)="agregarEquipoLista(equipo.id_articulo)"
              *ngFor="let equipo of equipos | paginate: { id:'equiposEmisor', itemsPerPage: 4, currentPage: p } ">
              <th scope="row">{{equipo.id_articulo}}</th>
              <td>{{equipo.modelo_articulo}}</td>
              <td>{{equipo.serial_articulo}}</td>
              <td *ngIf=" tipoSelected == 1 && (equipo.kind == 'V' || equipo.kind == 'E')">{{equipo.nombre}}
                {{equipo.apellido}}</td>
              <td *ngIf=" tipoSelected == 1 && (equipo.kind != 'V' || equipo.kind != 'E')">{{equipo.social}}</td>
              <td *ngIf=" tipoSelected == 3">{{equipo.cliente}}</td>
            </tr>
          </tbody>
        </table>
        <pagination-controls *ngIf="mostrarEquipos" id="equiposEmisor" (pageChange)="p = $event"></pagination-controls>
      </div>

      <div class="col-sm-12">
        <table *ngIf="mostrarEquipos" class="table table-borderless">
          <thead>
            <tr class="table-info">
              <th scope="col">#</th>
              <th scope="col">Equipo</th>
              <th scope="col">Serial</th>
              <th *ngIf="tipoSelected == 1" scope="col">Cliente</th>
            </tr>
          </thead>
          <tbody>
            <tr (click)="eliminarEquipoLista(i)"
              *ngFor="let equipo of equiposLista | paginate: { id:'equiposLista', itemsPerPage: 4, currentPage: e } ; let i = index">
              <th scope="row">{{equipo.id_articulo}}</th>
              <td>{{equipo.modelo_articulo}}</td>
              <td>{{equipo.serial_articulo}}</td>
              <td *ngIf=" tipoSelected == 1 && (equipo.kind == 'V' || equipo.kind == 'E')">{{equipo.nombre}}
                {{equipo.apellido}}</td>
              <td *ngIf=" tipoSelected == 1 && (equipo.kind != 'V' || equipo.kind != 'E')">{{equipo.social}}</td>
            </tr>
          </tbody>
        </table>
        <pagination-controls *ngIf="mostrarEquipos" id="equiposLista" (pageChange)="e = $event"></pagination-controls>
      </div>
      <br>
      <div class="col-sm-12">
        <h5>Lista de Traslados</h5>
        <table class="table table-borderless">
          <thead>
            <tr class="table-primary">
              <th scope="col">#</th>
              <th scope="col">Chofer</th>
              <th scope="col">Vehiculo</th>
              <th scope="col">Responsable</th>
            </tr>
          </thead>
          <tbody>
            <tr (click)="irAOrden(t.id_traslado)"
              *ngFor="let t of traslados | paginate: { id:'traslado', itemsPerPage: 4, currentPage: e } ; let i = index">
              <th scope="row">{{t.id_traslado}}</th>
              <td>{{t.chofer}}</td>
              <td>{{t.marca}} {{t.modelo}}</td>
              <td>{{t.nombre_user}} {{t.apellido_user}}</td>
            </tr>
          </tbody>
        </table>
        <pagination-controls id="traslado" (pageChange)="e = $event"></pagination-controls>
      </div>


    </div>


  </div>



</div>


<ng-template #template>

  <div class="modal-header">
    <h4 class="modal-title pull-left">Orden de Translado</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card border-light mb-3" style="max-width: 40rem;">
    <div class="card-body">
      <label class="control-label" for="disabledInput">Seleccionar Conductor </label>
      <input *ngIf="isChecked == true" type="text" class="form-control" placeholder="Conductor" id="inputDefault"
        [(ngModel)]="choferSelected" required>
      <select [(ngModel)]="choferSelected" *ngIf="isChecked == false" class="form-control" id="exampleSelect1" required>
        <option *ngFor="let c of chofer" [value]="c.nombre_user+' '+c.apellido_user">{{c.nombre_conductor}}
          {{c.apellido_conductor}}</option>
      </select>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" [(ngModel)]="isChecked" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Conductor no registrado</label>
      </div>
      <br>
      <label *ngIf="choferSelected != 0" class="control-label" for="disabledInput">Seleccionar Vehiculo </label>
      <select *ngIf="choferSelected != 0" [(ngModel)]="vehiculoSeleccionado" class="form-control" id="exampleSelect1"
        required>
        <option *ngFor="let v of vehiculos" [value]="v.id_vehiculo">{{v.marca}}
          {{v.modelo}}</option>
      </select>
      <br>
      <div *ngIf="choferSelected != 0 &&  vehiculoSeleccionado != 0">
        <label for="">Desde</label>
        <input type="text" [(ngModel)]="desde" class="form-control" id="inputDefault">
        <br>
      </div>
      <div *ngIf="choferSelected != 0 && vehiculoSeleccionado != 0 && desde.length > 3">
        <label for="">Hasta</label>
        <input type="text" [(ngModel)]="hasta" class="form-control" id="inputDefault">
        <br>
      </div>

      <button (click)="realizarTraslado()" type="button" class="btn btn-info">Realizar
        Orden</button>
    </div>
  </div>
</ng-template>