<form class="example-form" id="client" name="clientForm" [formGroup]="addClient" ng-submit="ok(clientForm)" novalidate>
  <span *ngIf="clientes.length<1"> Cargando... </span>
  <table class="example-full-width" cellspacing="0" *ngIf="clientes.length >= 1">
    <tr>
      <ng-container *ngFor="let cliente of clientes">
        <td colspan="2" *ngIf="cliente.id == row.servicio_soporte && !cliente_edit" (click)="edit_client()" style="border:1px solid grey" tooltip="Click para editar">
          <span *ngIf="cliente.kind.toUpperCase() == 'V'">{{(cliente.kind | capitalize) + cliente.dni+' / '+(cliente.nombre | capitalize) +' '+(cliente.apellido | capitalize)}}</span>
          <span *ngIf="cliente.kind.toUpperCase() == 'E'">{{(cliente.kind | capitalize) + cliente.dni+' / '+(cliente.nombre | capitalize) +' '+(cliente.apellido | capitalize)}}</span>
          <span *ngIf="cliente.kind.toUpperCase() == 'J'">{{(cliente.kind | capitalize) + cliente.dni+' / '+(cliente.social | capitalize)}}</span>
          <span *ngIf="cliente.kind.toUpperCase() == 'G'">{{(cliente.kind | capitalize) + cliente.dni+' / '+(cliente.social | capitalize)}}</span>
        </td>
      </ng-container>
      <td colspan="2" *ngIf="cliente_edit">
        <md2-select name="cliente"
        formControlName="cliente_srv"
        placeholder="Clientes"
        style="width=100%; min-width: 100%; min-height: 100%;"
        mdInput
        >
        <md2-select-header>
          <input class="search" name="c_search"
          type="text"
          [(ngModel)]="c_search"
          placeholder="Buscar..."
          style="width=95%; min-width: 95%; border: none; outline: none; height: 100%; padding: 0;"
          formControlName="c_search" />
        </md2-select-header>
        <md2-option *ngFor="let i of (clientes | dataPipe : {dni: c_search, nombre: c_search, social: c_search})" [value]="i.id">
          <span *ngIf="i.kind.toUpperCase() == 'V'">{{(i.kind | capitalize) + i.dni+' / '+(i.nombre | capitalize) +' '+(i.apellido | capitalize)}}</span>
          <span *ngIf="i.kind.toUpperCase() == 'E'">{{(i.kind | capitalize) + i.dni+' / '+(i.nombre | capitalize) +' '+(i.apellido | capitalize)}}</span>
          <span *ngIf="i.kind.toUpperCase() == 'J'">{{(i.kind | capitalize) + i.dni+' / '+(i.social | capitalize)}}</span>
          <span *ngIf="i.kind.toUpperCase() == 'G'">{{(i.kind | capitalize) + i.dni+' / '+(i.social | capitalize)}}</span>
        </md2-option>
      </md2-select>

    </td>
  </tr>
  <tr >
    <ng-container *ngFor="let ap of aps">
      <td colspan="2" *ngIf="row.ap && ap.id == row.ap && !ap_edit" (click)=edit_ap(ap) style="border:1px solid grey" tooltip="Click para editar">
        <span >Punto De Acceso: {{ap.nombre_ap}}</span>
      </td>
    </ng-container>
    <td colspan="2" *ngIf="ap_edit">
      <md-select name="AP"
      formControlName="ap_srv"
      placeholder="AccessPoint"
      style="width=100%; min-width: 100%;"
      mdInput
      >
      <!--md-option>
      <input name="a_search"
      type="text"
      [(ngModel)]="a_search"
      placeholder="Buscar..."
      style="width=95%; min-width: 95%; border: none; outline: none; height: 100%; padding: 0;"
      formControlName="a_search" />
    </md-option-->
    <md-option *ngFor="let i of (aps | dataPipe : {nombre_ap: a_search, ip_ap: a_search})" [value]="i.id">{{i.ip_ap + " " + i.nombre_ap}}</md-option>
  </md-select>
</td>
</tr>
<tr>
  <td>
    <md-form-field>
      <input mdInput formControlName="costo_instalacion_srv" placeholder="Precio de instalacion"/>
    </md-form-field>
  </td>
  <td>
    <md-form-field>
      <input mdInput formControlName="credito_srv" placeholder="Dias de credito"/>
    </md-form-field>
  </td>
</tr>
<tr>
  <ng-container *ngFor="let equip of equipo">
  <td *ngIf="equip.id == row.equipo && !equipo_edit" (click)=edit_equipo() tooltip="Click para editar">
    Equipo: {{equip.name}}
  </td>
</ng-container>
  <td *ngIf="equipo_edit">
    <md2-select name="equipo"
    formControlName="equipo_srv"
    placeholder="Equipo"
    style="width=100%; min-width: 100%;"
    mdInput
    >
    <md2-select-header>
      <input name="C_search"
      type="text"
      [(ngModel)]="C_search"
      placeholder="Buscar..."
      style="width=95%; min-width: 95%; border: none; outline: none; height: 100%; padding: 0;"
      formControlName="C_search" />
    </md2-select-header>
    <md2-option *ngFor="let i of (equipo | dataPipe : {name: C_search})" [value]="i.id">{{i.name}}</md2-option>
  </md2-select>

</td>
<td *ngIf="!row.ipP">
  <md-form-field>
    <input mdInput formControlName="ip_srv" placeholder="IP"/>
    <md-error *ngIf="addClient.get('ip_srv').errors?.IpExists"> Direccion IP utilizada</md-error>
    <md-error *ngIf="addClient.get('ip_srv').errors?.IpInstall"> Direccion IP asignada a instalacion</md-error>
  </md-form-field>
</td>
  <td *ngIf="row.ipP" >
    <md-form-field  >
      <input mdInput formControlName="ip_srv" placeholder="IP" style="color:#9E9E9E" [readonly]="true" />

    </md-form-field>
  </td>
</tr>
<tr>
  <td>
    <md-form-field>
      <input mdInput formControlName="mac_srv" maxlength="17" placeholder="MAC" disabled/>
      <md-error *ngIf="!addClient.controls.mac_srv.valid">La direccion MAC es invalida</md-error>
    </md-form-field>
  </td>
  <td>
    <md-form-field>
      <input mdInput formControlName="serial_srv" placeholder="Serial"  maxlength="12"/>
      <md-error *ngIf="addClient.get('serial_srv').errors?.SerialExists"> Este equipo ya esta siendo utilizado</md-error>
    </md-form-field>
  </td>
</tr>
<tr *ngIf="planes_.length >= 1">
  <!-- planes -->
  <td colspan="2">
    <table>
      <tr>
        <th style="width: 50%">Plan</th>
        <th style="width: 50%">Comentario</th>

      </tr>
      <tr *ngFor="let p of planes_" (click)=deleter(p)>
        <td  >
        <span style="color: #407F9A; font-size:84%;font-weight:bold">  {{p.name_plan }} </span>
        </td>
        <td>
          <span style=" color: #407F9A; font-size:84%">{{p.comment}}</span>
        </td>
      </tr>
    </table>

  </td>
</tr>
    <tr><td colspan="2" [style.height]="'10%'"><br></td  ></tr>
    <tr>
    <td colspan="2">
      <md2-select name="tipo de plan"
                  formControlName="tipo_plan_srv"
                  placeholder="Tipo de plan"
                  style="width=100%; min-width: 100%; min-height: 100%;"
                  mdInput>
        <md2-option value="1">Planes Antiguos</md2-option>
        <md2-option value="4">Planes Nuevos</md2-option>
        <md2-option value="3">Planes en dolares</md2-option>


      </md2-select>
    </td>

    </tr>
    <tr><td colspan="2" [style.height]="'10%'"><br></td  ></tr>
<tr *ngIf="addClient.value.tipo_plan_srv==1">
  <ng-container *ngFor="let pln of planes1">
    <td *ngIf="pln == plan_f && !plan_edit" (click)=edit_plan() tooltip="Click para editar">
   <span> {{pln.name_plan}} </span>
    </td>
  </ng-container>
  <td *ngIf="plan_edit " colspan="2">
    <md2-select name="Planes"
    formControlName="planes_"
    placeholder="Planes"
    style="width=100%; min-width: 100%;"
    mdInput
    >
    <md2-select-header>
      <input name="p_search"
      type="text"
      [(ngModel)]="p_search"
      placeholder="Buscar..."
      style="width=95%; min-width: 95%; border: none; outline: none; height: 100%; padding: 0;"
      formControlName="p_search" />
    </md2-select-header>
    <md2-option *ngFor="let i of (planes1 | dataPipe : {name_plan: p_search})" [value]="i">{{i.name_plan}}</md2-option>
  </md2-select>
</td>
</tr>
    <tr *ngIf="addClient.value.tipo_plan_srv==4">
      <ng-container *ngFor="let pln of planes2">
        <td *ngIf="pln == plan_f && !plan_edit" (click)=edit_plan() tooltip="Click para editar">
          <span> {{pln.name_plan}} </span>
        </td>
      </ng-container>
      <td *ngIf="plan_edit "colspan="2">
        <md2-select name="Planes"
                    formControlName="planes_"
                    placeholder="Planes"
                    style="width=100%; min-width: 100%;"
                    mdInput
        >
          <md2-select-header>
            <input name="p_search"
                   type="text"
                   [(ngModel)]="p_search"
                   placeholder="Buscar..."
                   style="width=95%; min-width: 95%; border: none; outline: none; height: 100%; padding: 0;"
                   formControlName="p_search" />
          </md2-select-header>
          <md2-option *ngFor="let i of (planes2 | dataPipe : {name_plan: p_search})" [value]="i">{{i.name_plan}}</md2-option>
        </md2-select>
      </td>
    </tr>
    <tr *ngIf="addClient.value.tipo_plan_srv==3">
      <ng-container *ngFor="let pln of planesd">
        <td *ngIf="pln == plan_f && !plan_edit" (click)=edit_plan() tooltip="Click para editar">
          <span> {{pln.name_plan}} </span>
        </td>
      </ng-container>
      <td *ngIf=" plan_edit "colspan="2">
        <md2-select name="Planes"
                    formControlName="planes_"
                    placeholder="Planes"
                    style="width=100%; min-width: 100%;"
                    mdInput
        >
          <md2-select-header>
            <input name="p_search"
                   type="text"
                   [(ngModel)]="p_search"
                   placeholder="Buscar..."
                   style="width=95%; min-width: 95%; border: none; outline: none; height: 100%; padding: 0;"
                   formControlName="p_search" />
          </md2-select-header>
          <md2-option *ngFor="let i of (planesd | dataPipe : {name_plan: p_search})" [value]="i">{{i.name_plan}}</md2-option>
        </md2-select>
      </td>
    </tr>
    <tr><td colspan="2" [style.height]="'10%'"><br></td  ></tr>
    <tr><td colspan="2" *ngIf="addClient.value.tipo_plan_srv== 4">
      <md2-select mu name="modo de pago"  formControlName="modo_pago_srv" class="example-full-width" placeholder="seleccion la modalidad de pago" >
        <md2-option  [value]="1" >Moneda local Bs.S</md2-option>
        <md2-option  [value]="2" >Moneda Internacional US$</md2-option>
      </md2-select>
    </td></tr>
    <div style="min-height: 20px;">

    </div>
    <tr >
      <td colspan="2" *ngIf="addClient.value.tipo_plan_srv == 1">

        <md2-select class="example-full-width" name="Facturable"  mdInput placeholder="seleccione si el servicio es o no facturable" formControlName="serie_srv">
          <md2-option  [value]="0">No Facturable</md2-option>
          <md2-option [value]="1">Facturable</md2-option>

        </md2-select>

        <!--/md-form-field-->
      </td>
      <td colspan="2" *ngIf="addClient.value.tipo_plan_srv == 4 && addClient.value.modo_pago_srv == 1">

        <md2-select class="example-full-width" name="Facturable"  mdInput placeholder="seleccione si el servicio es o no facturable" formControlName="serie_srv">
          <md2-option  [value]="0">No Facturable</md2-option>
          <md2-option [value]="1">Facturable</md2-option>

        </md2-select>

        <!--/md-form-field-->
      </td>

      <td colspan="2" *ngIf=" addClient.value.tipo_plan_srv == 3 ">

        <md2-select  [(ngModel)]="valor_serie" disabled=" true" class="example-full-width" name="Facturable" mdInput placeholder="seleccione si el servicio es o no facturable" formControlName="serie_srv">
          <md2-option ng-selected="true" [value]="0">No Facturable</md2-option>
          <!-- <md2-option [value]="1">Facturable</md2-option>-->

        </md2-select>

        <!--/md-form-field-->
      </td><td colspan="2" *ngIf=" addClient.value.tipo_plan_srv == 4 &&  addClient.value.modo_pago_srv ==2">

      <md2-select  [(ngModel)]="valor_serie" disabled=" true" class="example-full-width" name="Facturable" mdInput placeholder="seleccione si el servicio es o no facturable" formControlName="serie_srv">
        <md2-option ng-selected="true" [value]="0">No Facturable</md2-option>
        <!-- <md2-option [value]="1">Facturable</md2-option>-->

      </md2-select>

      <!--/md-form-field-->
    </td>
    </tr>
<tr>
  <td colspan="1">
    <md-form-field style="width=100%; min-width=100%">
      <input style="width=100%; min-width=100%" mdInput formControlName="comment_" maxlength="17" placeholder="Comentario"/>
    </md-form-field>
  </td>
  <td colspan="1">
    <button md-raised-button class="example-half-width btn" type="button" (click)="addr()">
      <md-icon class="md-24" aria-label="Editar AP" >add_circle</md-icon>
      <span>Agregar Plan</span>
    </button>
  </td>
</tr>

<tr>
  <td colspan="2">
    <md2-select name="Estado"
    formControlName="stat_srv"
    placeholder="Estado"
    style="width=100%; min-width: 100%;"
    mdInput
    >
    <md2-option [value]="1">Activo</md2-option>
    <md2-option [value]="2">Moroso</md2-option>
    <md2-option [value]="3">Suspendido</md2-option>
    <md2-option [value]="4">Retirado</md2-option>
  </md2-select>
</td>
</tr>
  <!--  <tr>
      <td colspan="2">

        <md-form-field class="example-full-width">
        <textarea name="address"
                  data-ng-model="user.contact_people.description"
                  mdInput
                  formControlName="direccion_srv"
                  #address
                  class="form-control"
                  placeholder="Direccion"
                  maxlength="256"
                  rows ="3"
                  required></textarea>
          <md-hint>{{address.value.length}} / 256</md-hint>
        </md-form-field>
      </td>
    </tr>-->
<tr>
  <td>
    <md-form-field class="example-full-width">
      <input type="date" name="birthdate" data-ng-model="user.birthdate"
      class="form-control"

      formControlName="instalacion_srv"
      placeholder="Fecha de instalacion"
      required mdInput>
    </md-form-field>

    <br />
  </td>
  <td>
    <md-form-field class="example-full-width">
      <input type="date" name="birthdate" data-ng-model="user.birthdate"
      class="form-control"

      formControlName="start_srv"
      placeholder="Inicio de servicio"
      required mdInput>
    </md-form-field>
  </td>
</tr>





<!-- botones al final del modal -->

<tr>
  <td>


    <button md-raised-button color="primary" class="example-half-width btn btn-primary" [disabled]="!(addClient.valid && this.planes_.length!=0)" (click)="Enviar()"><i class="fa fa-paper-plane" aria-hidden="true"></i> Guardar</button>

  </td><td>

    <button md-raised-button color="warn" class="example-half-width btn btn-danger" type="button" (click)="onNoClick()"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
  </td>
</tr>
<p>

</p>
</table>
</form>
