<md-toolbar class="submenu">
  <md-form-field floatPlaceholder="never">
    <input mdInput placeholder="Filtrar" class="md2-input" [(ngModel)]="search" />
  </md-form-field>
  <span class="example-spacer" style="text-align: center;">Equipos Asignados</span>
  <button md-raised-button class="btn" (click)="Close()">Atras</button>


</md-toolbar>


      <table class="addClient x700" [md2Data]=" data| dataPipe: { nombre: search, apellido: search, name_equipo:search, dni: search, serial_srv:search, nombre_ap:search, status:search }" #md2="md2DataTable" [rowsPerPage]="10">
        <thead>
        <tr>
          <td colspan="7">
            <md2-pagination [rowsPerPageSet]="[5,10]" paginationLabel="Filas por pagina"></md2-pagination>
          </td>
        </tr>
        <tr>
          <th style="width: 20%" md2SortBy="dni">Cedula</th>
          <th style="width: 20%" md2SortBy="nombre">Nombre y Apellido</th>
          <th style="width: 20%" md2SortBy="ModeloEquipo">Equipo</th>
          <th style="width: 20%" md2SortBy="SerialEquipo">Serial de equipo</th>
          <th style="width: 20%" md2SortBy="ap">AP</th>
          <th style="width: 20%" md2SortBy="status">Estatus del servicio</th>

          <th style="width: 20%">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let i of md2.data">
          <td style="width: 15%">{{(i.kind|capitalize)+i.dni}}</td>
          <td *ngIf="i.kind.toUpperCase() == 'V'" style="width: 15%">{{(i.nombre|capitalize) + " " + (i.apellido|capitalize)}}</td>
          <td *ngIf="i.kind.toUpperCase() == 'E'" style="width: 15%">{{(i.nombre|capitalize) + " " + (i.apellido|capitalize)}}</td>
          <td *ngIf="i.kind.toUpperCase() == 'G'" style="width: 15%">{{(i.social|capitalize)}}</td>
          <td *ngIf="i.kind.toUpperCase() == 'J'" style="width: 15%">{{(i.social|capitalize)}}</td>
          <td style="width: 20%" >{{i.name_equipo}}</td>
          <td style="width: 10%">{{i.serial_srv}}</td>
          <td style="wih: 20%">{{i.nombre_ap}}</td>
          <td style="width: 20%">
            <button md-icon-button *ngIf="i.stat_srv == 1" >
              <span>Activo</span>
            </button>
            <button md-icon-button *ngIf="i.stat_srv == 2" >
              <span>Moroso</span>
            </button>
            <button md-icon-button *ngIf="i.stat_srv == 3" >
              <span>Suspendido</span>
            </button>
            <button md-icon-button *ngIf="i.stat_srv == 4" >
              <span>Retirado</span>
            </button>
            <button md-icon-button *ngIf="i.stat_srv == 5" >
              <span>Exonerado</span>
            </button>
          </td>
          <td>
            <button md-icon-button style="color:#106cc8" [routerLink]="['/ClientOverview', i.cliente_srv]"><!---->
              <md-icon class="md-24" aria-label="Mas Detalles" >search</md-icon>
            </button>

          </td>
        </tr>
        </tbody>
        <tfoot>

        </tfoot>
      </table>


