<md-toolbar class="submenu">
  <span class="example-spacer" style="text-align: center;">Transferir Equipos</span>
  <!--button color="warn" md-raised-button (click)="sendSMS()" [disabled]="!notify.valid" class="btn btn-danger">Enviar Mensajes Masivos</button-->

</md-toolbar>



  <div class="contenido" style="margin: auto; align-content: center; text-align: center ;">
    <form class="example-form" id="client" name="clientForm" [formGroup]="TransfEquipo" ng-submit="ok(clientForm)" novalidate>
    <table>
      <tr>
        <td colspan="2">
          <md2-select name="Tipo"
            placeholder="Desde"
            floatPlaceholder="never"
            class="example-full-width"
            formControlName="desde"
            mdInput
            >
            <md2-option *ngFor="let z of zonas" [value]="z.id">
              <span>{{z.nombre_zona}}</span>
            </md2-option>

          </md2-select>

      </td>
    </tr>
    <tr>
      <td colspan="2">
        <md2-select name="Tipo"
        floatPlaceholder="never"
          placeholder="Hasta"
          class="example-full-width"
          formControlName="hacia"
          mdInput
          >
          <md2-option *ngFor="let z of zonas" [value]="z.id">
            <span>{{z.nombre_zona}}</span>
          </md2-option>

        </md2-select>

    </td>
  </tr>
  <tr *ngIf="TransfEquipo.value.desde != ''">
      <td colspan="2">
          <md2-select multiple name="AP"
          floatPlaceholder="never"
          placeholder="Equipos"
          class="example-full-width"
          formControlName="equipos"
          mdInput
          >
          <md2-option *ngFor="let i of inventarios" [disabled]="TransfEquipo.value.desde != i.zona_inventario" [value]="i.id">{{i.name + " " + i.serial_inventario}}</md2-option>
        </md2-select>

    </td>
</tr>
</table>

</form>
</div>
