<h1 md-dialog-title>Presupuesto</h1>
<div md-dialog-content>
  <p>Formulario de presupuesto para el cliente:</p>
  <p *ngIf="cliente.kind.toUpperCase() == 'V'">{{(cliente.nombre|capitalize) + " " + (cliente.apellido|capitalize)}}</p>
  <p *ngIf="cliente.kind.toUpperCase() == 'E'">{{(cliente.nombre|capitalize) + " " + (cliente.apellido|capitalize)}}</p>
  <p *ngIf="cliente.kind.toUpperCase() == 'G'">{{(cliente.social|capitalize)}}</p>
  <p *ngIf="cliente.kind.toUpperCase() == 'J'">{{(cliente.social|capitalize)}}</p>

  <div class="form-group">
    <label for="exampleTextarea">Tipo de servicio</label>
    <select [(ngModel)]="tipoServicio" class="form-control" id="exampleSelect1" required>
      <option value="0"></option>
      <option value="1">Asimétrico Fibra Óptica Residencial</option>
      <option value="2">Asimétrico Fibra Óptica Comercial</option>
      <option value="3">Asimétrico Residencial servicio inalámbrico</option>
      <option value="4">Asimétrico Comercial servicio inalámbrico</option>
      <option value="5">Dedicado Corporativo servicio inalámbrico</option>
    </select>
    <br />
  </div>
  <div class="form-group">
    <label for="exampleTextarea">Costo de Instalacion</label>
    <input  [(ngModel)]="costoInstalacion" type="text" class="form-control form-control-sm"
      placeholder="Cantidad" id="inputDefault" required />
  </div>

  <div class="form-group">
    <label for="exampleTextarea">Moneda</label>
    <select [(ngModel)]="moneda" class="form-control" id="exampleSelect1" required>
      <option value=" "></option>
      <option value="$">Dolares</option>
      <option value="Bs">Bolivares</option>
    </select>
    <br />
  </div>
</div>
<div *ngIf="tipoServicio != 0 && costoInstalacion != 0 && moneda != ' ' " md-dialog-actions>
  <button type="button" (click)="enviar()" class="btn btn-info">
    Enviar Presupuesto
  </button>

  <button type="button"  (click)="onNoClick()" class="btn btn-danger">
    Cerrar
  </button>
</div>