<div class="con">

  <div class="row principal">
    <div class="col-sm-2">
      <h2 class="titulo">Pago Clientes</h2>
    </div>

    <div class="col-sm-2 filtrado">

      <select [(ngModel)]="tipoActivo" (change)="ngOnInit()" class="form-control" id="exampleSelect2" required>
        <option value="1">Moneda Extranjera</option>
        <option value="2">Moneda Nacional</option>
      </select>

    </div>

    <div class="col-sm-5">

    </div>
    <div class="col-sm-2">

      <div class="form-group">
        <input class="form-control form-control-lg" (keyup.backspace)="buscarPagosBackSpace($event.target.value)"
          (input)="buscarPagos($event.target.value)" type="text" class="form-control" name="filtrado"
          placeholder="Filtrar" id="inputDefault">
      </div>

    </div>

    <div style="margin-top:5px;" class="col-sm-1">
      <button (click)="ngOnInit()" title="Actualizar Instalaciones" type="button" class="btn btn-default btn-sm">
        <md-icon class="icon">loop</md-icon>
      </button>
    </div>

  </div>

  <div class="row">
    <div *ngIf="tipoActivo == 1" class="col-sm-12">
      <table class="table table-borderless tabla">
        <thead>
          <tr class="table-default" style="background-color: #2C2C30; color: white;">
            <th scope="col">#</th>
            <th scope="col">CLIENTE</th>
            <th scope="col">BANCO</th>
            <th scope="col">MONTO</th>
            <th scope="col">REFERENCIA</th>
            <th scope="col">ESTADO</th>
            <th scope="col">USUARIO</th>
            <th scope="col">FECHA</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="openModal(template,b.id_bal_in)" style="cursor: pointer;"
            *ngFor="let b of balanced | paginate: {id:'balance', itemsPerPage: 10, currentPage: p }">
            <td> {{b.id_bal_in}}
            <td *ngIf="b.serie == 0 || b.serie == null">{{b.nombre}} {{b.apellido}}</td>
            <td *ngIf="b.serie == 1">{{b.social}}</td>
            <td *ngIf="b.bal_tip_in==2">Transferencia Banesco</td>
            <td *ngIf="b.bal_tip_in==6">Transferencia Bicentenario</td>
            <td *ngIf="b.bal_tip_in==1">Transferencia BOD</td>
            <td *ngIf="b.bal_tip_in==3">Transferencia Venezuela</td>
            <td *ngIf="b.bal_tip_in==4">Retencion ISLR</td>
            <td *ngIf="b.bal_tip_in==5">Retencion IVA</td>
            <td *ngIf="b.pag_tip_in==20">Descuento</td>
            <td *ngIf="b.bal_tip_in==7">Exonerado</td>
            <td *ngIf="b.bal_tip_in==18">Banesco Panama</td>
            <td *ngIf="b.bal_tip_in==12">Zelle</td>
            <td *ngIf="b.bal_tip_in==13">Wire Transfer</td>
            <td *ngIf="b.bal_tip_in==14">Efectivo $</td>
            <td *ngIf="
                            b.bal_tip_in == 1 ||
                            b.bal_tip_in == 2 ||
                            b.bal_tip_in == 3 ||
                            b.bal_tip_in == 4 ||
                            b.bal_tip_in == 5 ||
                            b.bal_tip_in == 6
                          ">
              {{ b.conversion | number: "1.2-2" }} Bs
            </td>
            <td *ngIf="
                            b.bal_tip_in == 12 ||
                            b.bal_tip_in == 13 ||
                            b.bal_tip_in == 14 ||
                            b.bal_tip_in == 16 ||
                            b.bal_tip_in == 18
                          ">
              {{ b.bal_monto_in | number: "1.2" }} $
            </td>
            <td>
              {{b.bal_comment_in}}
            </td>
            <td>
              <span style=" color: #00c402" *ngIf="b.bal_stat_in == 1">
                Aprobada
              </span>
              <span style="  color: #7a8018" *ngIf="b.bal_stat_in == 2">
                Pendiente
              </span>
              <span style=" color: #c4092b" *ngIf="b.bal_stat_in == 0">
                Rechazada
              </span>
            </td>
            <td *ngIf="user_bal_mod_in == 0">
              Sin Informacion
            </td>
            <td *ngIf="user_bal_mod_in != 0">
              {{b.nombre_user}} {{b.apellido_user}}
            </td>
            <td>
              {{b.created_at | stringToDate | date: 'dd/M/yy'}}
            </td>
        </tbody>
      </table>
      <pagination-controls id="balance" (pageChange)="p = $event"></pagination-controls>
    </div>
    <div *ngIf="tipoActivo == 2" class="col-sm-12">
      <table class="table table-borderless tabla">
        <thead>
          <tr class="table-default" style="background-color: #2C2C30; color: white;">
            <th scope="col">#</th>
            <th scope="col">CLIENTE</th>
            <th scope="col">BANCO</th>
            <th scope="col">MONTO</th>
            <th scope="col">REFERENCIA</th>
            <th scope="col">ESTADO</th>
            <th scope="col">FECHA</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="openModal(template,b.id)" style="cursor: pointer;"
            *ngFor="let b of balanceb | paginate: {id:'balance', itemsPerPage: 10, currentPage: p }">
            <td> {{b.id}}
            <td *ngIf="b.serie == 0 || b.serie == null">{{b.nombre}} {{b.apellido}}</td>
            <td *ngIf="b.serie == 1">{{b.social}}</td>
            <td *ngIf="b.pag_tip==2">Transferencia Banesco</td>
            <td *ngIf="b.pag_tip==6">Transferencia Bicentenario</td>
            <td *ngIf="b.pag_tip==1">Transferencia BOD</td>
            <td *ngIf="b.pag_tip==3">Transferencia Venezuela</td>
            <td *ngIf="b.pag_tip==4">Retencion ISLR</td>
            <td *ngIf="b.pag_tip==5">Retencion IVA</td>
            <td *ngIf="b.pag_tip==17">Otras Retenciones</td>
            <td *ngIf="b.pag_tip==7 ">Exonerado</td>
            <td *ngIf="b.pag_tip==8">Moneda Extranjera</td>
            <td *ngIf="b.pag_tip==9">Zelle</td>
            <td *ngIf="b.pag_tip==10">Wire Transfer</td>
            <td *ngIf="b.pag_tip==11">Efectivo $</td>
            <td *ngIf="b.pag_tip==12">Zelle</td>
            <td *ngIf="b.pag_tip==13">Wire Transfer</td>
            <td *ngIf="b.pag_tip==14">Efectivo $</td>
            <td *ngIf="b.pag_tip==15">Efectivo Bs</td>
            <td *ngIf="b.pag_tip==18">Banesco Panama</td>
            <td *ngIf="b.pag_tip==20">Descuento</td>
            <td>
              {{ b.pag_monto | number: "1.2" }} bs
            </td>
            <td>
              {{b.pag_comment}}
            </td>
            <td>
              <span style=" color: #00c402">
                Aprobada
              </span>
              
            </td>
            <td *ngIf="user_bal_mod == 0">
              Sin Informacion
            </td>
            <td>
              {{b.created_at | stringToDate | date: 'dd/M/yy'}}
            </td>
        </tbody>
      </table>
      <pagination-controls id="balance" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>







<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Pago {{pagoSeleccionado.id_bal_in}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="pagoSeleccionado.bal_stat_in == 1 && tipoActivo == 1 && usuario.perm && usuario.perm.includes('reportes_w') || tipoActivo == 2 && usuario.perm && usuario.perm.includes('reportes_w') ">

      <h5>¿Desea Eliminar Pago?</h5>
      <button (click)="GuardarData()" title="Eliminar pago" type="button" class="btn btn-danger btn-block btn-sm ">
        <md-icon class="icon">done</md-icon>
      </button>
    </div>
    <div *ngIf="pagoSeleccionado.bal_stat_in == 2 && tipoActivo == 1 && usuario.perm.includes('reportes_r') ">

      <label *ngIf="usuario.perm.includes('reportes_w')" for="exampleSelect1">Banco</label>
      <select *ngIf="usuario.perm.includes('reportes_w')" [(ngModel)]="pagoSeleccionado.bal_tip_in" class="form-control" id="exampleSelect1" #ubicacion required>
        <option [value]="2">Transferencia Banesco</option>
        <option [value]="6">Transferencia Bicentenario</option>
        <option [value]="1">Transferencia BOD</option>
        <option [value]="3">Transferencia Venezuela</option>
        <option [value]="20">Descuento</option>
        <option [value]="18">Banesco Panama</option>
        <option [value]="12">Zelle</option>
        <option [value]="13">Wire Transfer</option>
        <option [value]="14">Efectivo $</option>
      </select>
      <br>

      <label *ngIf="usuario.perm.includes('reportes_w')" for="customCheck2">Referencia</label>
      <input *ngIf="usuario.perm.includes('reportes_w')" type="text" [(ngModel)]="pagoSeleccionado.bal_comment_in" class="form-control" id="customCheck2">
      <br>

      <label for="customCheck2">Referencia Modificada</label>
      <input type="text" [(ngModel)]="pagoSeleccionado.bal_comment_mod_in" class="form-control" id="customCheck2">
      <br>

      <div *ngIf="
      pagoSeleccionado.bal_tip_in != 12 &&
      pagoSeleccionado.bal_tip_in != 13 &&
      pagoSeleccionado.bal_tip_in != 14 &&
      pagoSeleccionado.bal_tip_in != 16 &&
      pagoSeleccionado.bal_tip_in != 18
                          ">
        <label *ngIf="usuario.perm.includes('reportes_w')" for="customCheck2">Monto</label>
        <input *ngIf="usuario.perm.includes('reportes_w')" type="text" [(ngModel)]="pagoSeleccionado.conversion" class="form-control" id="customCheck2">
      </div>
      <td *ngIf="
      pagoSeleccionado.bal_tip_in == 12 ||
      pagoSeleccionado.bal_tip_in == 13 ||
      pagoSeleccionado.bal_tip_in == 14 ||
      pagoSeleccionado.bal_tip_in == 16 ||
      pagoSeleccionado.bal_tip_in == 18
                          ">
        <label *ngIf="usuario.perm.includes('reportes_w')" for="customCheck2">Monto
        </label>
        <input *ngIf="usuario.perm.includes('reportes_w')" type="text" [(ngModel)]="pagoSeleccionado.bal_monto_in" class="form-control" id="customCheck2">
      </td>
      <br>


      <div>
        <button type="button" (click)="GuardarData()" class="btn btn-info">Editar Pago</button>
      </div>


    </div>
  </div>
</ng-template>