<form class="example-form" id="client" name="clientForm" [formGroup]="addClient" ng-submit="ok(clientForm)" novalidate>
  <table class="example-full-width" cellspacing="0"><tr>
    <td>
      <md-form-field class="example-full-width">
        <input type="text" name="nombre"
        class="form-control"
        formControlName="nombre_ap"
        placeholder="Nombre"

        required
        mdInput
        >
      </md-form-field>

    </td>
    <td>

      <md-form-field class="example-full-width">
        <input type="text" name="ip"
        class="form-control"
        placeholder="IP"
        formControlName="ip_ap"

        required
        mdInput
        >
      </md-form-field>

    </td>

    </tr>
  <tr>

    <td>

      <md-form-field class="example-full-width">
        <input name="usuario"
        class="form-control"
        formControlName="user_ap"
        placeholder="Usuario"
        mdInput
        >
      </md-form-field>

    </td>
    <td>
      <md-form-field class="example-full-width">
        <input type="text" name="password"
        class="form-control"
        formControlName="password_ap"
        placeholder="Password"
        required
        mdInput
        >
      </md-form-field>
    </td>
  </tr>
<tr>
  <td colspan="2">
    <md2-select name="celdas"
              formControlName="celda_ap"
              placeholder="Celdas"
              style="width=100%; min-width: 100%; min-height: 100%;"
              mdInput
              >
    <md2-select-header>
      <input class="search" name="c_search"
             type="text"
             [(ngModel)]="c_search"
             placeholder="Buscar..."
             style="width=95%; min-width: 95%; border: none; outline: none;
height: 100%; padding: 0;"
             formControlName="c_search" />
    </md2-select-header>
    <md2-option *ngFor="let i of (celdas | dataPipe : {ip_celda: c_search, nombre_celda: c_search})" [value]="i.id_celda">{{i.nombre_celda}}</md2-option>
  </md2-select>
  </td>
</tr>
<tr>
    <td>


      <button *ngIf="row == null" md-raised-button class="example-half-width btn btn-primary b-btn" (click)="Enviar()"><i class="fa fa-paper-plane" aria-hidden="true"></i> Guardar</button>
      <button *ngIf="row != null"md-raised-button  class="example-half-width btn btn-primary b-btn" (click)="Editar()"><i class="fa fa-paper-plane" aria-hidden="true"></i> Editar</button>
    </td><td>

      <button md-raised-button color="warn" class="example-half-width btn btn-danger" type="button" (click)="onNoClick()"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
    </td>
  </tr>
  <p>

  </p>
</table>
</form>
