<div class="row primero">
  <div class="col-sm-4">
    <h1>Cajas Distribucion</h1>
  </div>
  <div class="col-sm-2">
    <button style="background-color:#2C2C30; color: white;" type="button" class="btn btn-info btn-sm" (click)="openModal(template)">
      <md-icon>add_circle_outline</md-icon>
    </button>
    <button style="background-color:#2C2C30; color: white;" (click)="traerCajasDistribucion()" title="Actualizar Instalaciones" type="button"
      class="btn btn-info btn-sm ">
      <md-icon>loop</md-icon>
    </button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-11 tabla">
    <table class="table table-borderless">
      <thead>
        <tr style="background-color:#2C2C30; color: white;" class="table-default">
          <th scope="col">#</th>
          <th scope="col">Caja Distribucion</th>
          <th scope="col">Manga Empalme</th>
          <th scope="col">Puertos</th>
        </tr>
      </thead>
      <tbody>
        <tr style="cursor: pointer;" (click)="openModal2(template2,c.id_caja)" *ngFor="let c of cajas | paginate: { id:'caja', itemsPerPage: 8, currentPage: p } ">
          <th scope="row">{{c.id_caja}}</th>
          <td>{{c.nombre_caja}}</td>
          <td>{{c.nombre_manga}}</td>
          <td>{{c.puertos_caja}}</td>

        </tr>
      </tbody>
    </table>
    <pagination-controls id="caja" (pageChange)="p = $event"></pagination-controls>
  </div>

</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Agregar Caja Distribucion</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label class="col-form-label" for="inputDefault">Nombre Caja Distribucion</label>
    <input [(ngModel)]="cajaDistribucion" type="text" class="form-control">
    <br>
    <label  class="col-form-label" for="inputDefault">Maga Empalme</label>
    <select  [(ngModel)]="manga" class="form-control" id="exampleSelect1" required>
      <option value="0"></option>
      <option *ngFor="let m of mangas" [value]="m.id_manga">{{m.nombre_manga}}</option>
    </select>
    <br>
    <label class="col-form-label" for="inputDefault">Puertos Caja Distribucion</label>
    <input [(ngModel)]="puertos" type="number" class="form-control">
    <br>
    <label  class="col-form-label" for="inputDefault">Zona</label>
    <select  [(ngModel)]="zona" class="form-control" id="exampleSelect1" required>
      <option value="0"></option>
      <option *ngFor="let z of zonas" [value]="z.id_zona">{{z.nombre_zona}}</option>
    </select>
    <br>
    <button *ngIf="cajaDistribucion.length > 4 && manga != 0 && puertos != 0 && zona != 0" type="button" class="btn btn-info" (click)="agregarCajaDistribucion()">
    Agregar
    </button>
  </div>
</ng-template>

<ng-template #template2>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Editar Caja Distribucion</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal2()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h6 class="col-form-label" >Nombre Caja:</h6>
    <input [(ngModel)]="cajaSeleccionada.nombre_caja" type="text" class="form-control">
    <br>
    <label class="col-form-label" for="inputDefault">Manga de Caja de Distribucion</label>
    <select [(ngModel)]="cajaSeleccionada.manga_caja" class="form-control" id="exampleSelect1" required>
      <option value="0"></option>
      <option *ngFor="let m of mangas" [value]="m.id_manga">{{m.nombre_manga}}</option>
    </select>
    <br>
    <label class="col-form-label" for="inputDefault">Puertos Caja Distribucion</label>
    <input [(ngModel)]="cajaSeleccionada.puertos_caja" type="number" class="form-control">
    <br>
    <label  class="col-form-label" for="inputDefault">Zona</label>
    <select  [(ngModel)]="cajaSeleccionada.zona_caja" class="form-control" id="exampleSelect1" required>
      <option value="0"></option>
      <option *ngFor="let z of zonas" [value]="z.id_zona">{{z.nombre_zona}}</option>
    </select>
    <br>
    <button type="button" class="btn btn-info" (click)="editarCaja()">
      Editar
    </button>
  </div>
</ng-template>