<div class="row primero">
  <div class="col-sm-1">
    <button style="background-color:#2C2C30;" (click)="atras()" type="button" class="btn btn-info boton">Atras</button>
  </div>
  <div class="col-sm-4">
    <h2 class="titulo">Lista de Equipos Grupales</h2>
  </div>


</div>
<div class="row">
  <div class="col-sm-7">
    <table class="table table-borderless tabla">
      <thead>
        <tr style="background-color:#2C2C30; color: white;" class="table-defaukt">
          <th scope="col">ID</th>
          <th scope="col">Modelo</th>
          <th scope="col">Serial</th>
          <th scope="col">Comentario</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let g of grupales | paginate: { id:'grupales', itemsPerPage: 6, currentPage: e }">
          <td>{{g.id_grupal}}</td>
          <td>{{g.modelo_articulo}}</td>
          <td>{{g.serial_articulo}}</td>
          <td>{{g.comentario_grupal}}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls id="grupales" (pageChange)="e = $event"></pagination-controls>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-3">
    <div class="formulario">
      <div class="card border-light mb-3">
        <div class="card-header">Agregar Equipo grupal</div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <label for="">Zonas</label>
              <select [(ngModel)]="zona" class="form-control" id="exampleSelect1" #ubicacion required>
                <option selected *ngFor="let z of zonas" [value]="z.id_zona">{{z.nombre_zona}}
                </option>
              </select>
              <br>
            </div>
            <div class="col-sm-12">
              <label class="col-form-label" for="inputDefault">Modelo</label>
              <select (change)="traerDisponibles()" [(ngModel)]="equipoSelected" class="form-control"
                id="exampleSelect1" #equipo required>
                <option *ngFor="let equipo of equipos" [value]="equipo.nombre_equipo">[{{equipo.nombre_tipo_art}}]
                  {{equipo.nombre_equipo}}
                </option>
              </select>
              <br>
            </div>
            <div *ngIf="zona !=0 && equipoSelected != ''" class="col-sm-12">
              <label for="exampleSelect1">Disponibles</label>
              <select [(ngModel)]="articulo" class="form-control form-control-sm" id="exampleSelect1">
                <option [value]=" " selected></option>
                <option *ngFor="let d of disponibles" [value]="d.id_articulo">{{d.modelo_articulo}} -
                  {{d.serial_articulo}}
                </option>
              </select>
              <br>
            </div>

            <div class="col-sm-12" *ngIf="articulo != 0">
              <label for="exampleTextarea">Comentario</label>
              <textarea [(ngModel)]="comentario" class="form-control" id="exampleTextarea" rows="5"></textarea>
              <br>
            </div>

            <div class="col-sm-12">
              <div *ngIf="articulo != 0 && comentario.length > 10">
                <button type="button" (click)="agregarGrupal()" class="btn btn-info btn">Agregar</button>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

 