<md-toolbar class="submenu">

  <md-form-field floatPlaceholder="never">
    <input mdInput placeholder="Filtrar" class="md2-input" [(ngModel)]="search" />
  </md-form-field>
  <span class="example-spacer" style="text-align: center;">Pagos en moneda nacional</span>
  <button md-raised-button class="btn" (click)="Close()">Atras</button>

  <!--button color="warn" md-raised-button (click)="sendSMS()" [disabled]="!notify.valid" class="btn btn-danger">Enviar Mensajes Masivos</button-->
  <button md-raised-button (click)="refresh(true)">
    <md-icon [class.updateicon]="update">cached</md-icon> Actualizar Lista
  </button>
</md-toolbar>



<div class="contenido" style="margin: auto; align-content: center; text-align: center ;">
  <div>
    <table
      [md2Data]="balance| dataPipe: { id_bal_in: search, nombre: search, apellido: search, social:search, bal_comment_in:search, bal_comment_mod_in:search, bal_monto_in:search }"
      #md2="md2DataTable" [rowsPerPage]="14">
      <thead>
        <tr>
          <td colspan="7">
            <md2-pagination></md2-pagination>
          </td>
        </tr>
        <tr>
          <td style="width: 7%">
            Nº
          </td>
          <td style="width: 7%">
            Cliente
          </td>
          <td style="width: 7%">
            Banco
          </td>
          <td style="width: 7%">
            Origen
          </td>
          <td style="width: 7%">
            Monto
          </td>
          <td style="width: 7%">
            Referencia / Titular
          </td>
          <td style="width: 7%">
            Referencia mod.
          </td>
          <td style="width: 7%">
            Estado
          </td>
          <td style="width: 7%">
            Fecha
          </td>
          <td style="width: 7%">
            Fecha mod.
          </td>
          <td style="width: 7%">
            Usuario mod
          </td>
          <td style="width: 7%">
            Acciones
          </td>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let i of md2.data">
          <td style="text-align: left; width: 7%">
            {{i.id_bal_in}}
          </td>
          <td style="width: 14%" *ngIf="i.kind.toUpperCase() == 'V'">
            {{(i.nombre|capitalize) + " " + (i.apellido|capitalize)}}</td>
          <td style="width: 14%" *ngIf="i.kind.toUpperCase() == 'E'">
            {{(i.nombre|capitalize) + " " + (i.apellido|capitalize)}}</td>
          <td style="width: 14%" *ngIf="i.kind.toUpperCase() == 'G'">{{(i.social|capitalize)}}</td>
          <td style="width: 14%" *ngIf="i.kind.toUpperCase() == 'J'">{{(i.social|capitalize)}}</td>

          <td *ngIf="i.bal_tip_in==12">Zelle</td>
          <td *ngIf="i.bal_tip_in==13">Wire Transfer</td>
          <td *ngIf="i.bal_tip_in==14">Efectivo $</td>
          <td *ngIf="i.bal_tip_in==16">Exonerado</td>

          <td *ngIf="i.bal_tip_in==2">Transferencia Banesco</td>
          <td *ngIf="i.bal_tip_in==6">Transferencia Bicentenario</td>
          <td *ngIf="i.bal_tip_in==1">Transferencia BOD</td>
          <td *ngIf="i.bal_tip_in==3">Transferencia Venezuela</td>
          <td *ngIf="i.bal_tip_in==15">Efectivo en Bs.S.</td>



          <td *ngIf="i.bal_from_in==1">Mismo Banco</td>
          <td *ngIf="i.bal_from_in==2">Otro Banco</td>
          <td *ngIf="i.bal_from_in==3">Deposito Bancario</td>
          <td *ngIf="i.bal_from_in==5">Maracaibo</td>
          <td *ngIf="i.bal_from_in==4">Coro</td>
          <td *ngIf="i.bal_from_in==6">Taquilla Dabajuro</td>
          <td>
            
            <span style=" width: 7%; text-align: left;" *ngIf="i.bal_tip_in!=12 && i.bal_tip_in!=13 && i.bal_tip_in!=14 && i.bal_tip_in!=16">
              {{i.bal_monto_in | number : '1.2-2'}} Bs.S
            </span>
            <span style=" width: 7%; text-align: left;" *ngIf=" i.bal_tip_in==12 || i.bal_tip_in==13 || i.bal_tip_in==14 || i.bal_tip_in==16">
              {{i.bal_monto_in | number : '1.2'}} US$
            </span>



          </td>
          <td style=" width: 14%; ">
            {{i.bal_comment_in}}
          </td>
          <td>
            <span style=" width: 14%; text-align: center; color: #FF6C00" *ngIf="i.bal_comment_mod_in">
              {{i.bal_comment_mod_in}}
            </span>
            <span style=" width: 14%; text-align: center; color: #FF6C00; font-weight: bold;"
              *ngIf="i.bal_comment_mod_in == null || i.bal_comment_mod_in =='' ">
              <md-icon class="md-24" aria-label="N/A">minimize</md-icon>
            </span>
          </td>
          <td>
            <span style=" width: 7%; text-align: center; color: #00c402" *ngIf="i.bal_stat_in == 1">
              Aprobada
            </span>
            <span style=" width: 7%; text-align: center; color: #7a8018" *ngIf="i.bal_stat_in == 2">
              Pendiente
            </span>
            <span style=" width: 7%; text-align: center; color: #c4092b" *ngIf="i.bal_stat_in == 0">
              Rechazada
            </span>
          </td>
          <td style=" width: 7%; text-align: left">
            {{i.created_at | stringToDate | date: 'dd/M/yy'}}
          </td>
          <td>
            <span style=" width: 7%; text-align: center; color: #FF6C00" *ngIf="i.bal_fecha_mod_in">
              {{i.bal_fecha_mod_in | stringToDate | date: 'dd/M/yy'}} </span>

            <span style=" width: 7%; text-align: center;  color: #FF6C00; font-weight: bold;"
              *ngIf="i.bal_fecha_mod_in == null || i.bal_fecha_mod_in ==''">
              <md-icon class="md-24" aria-label="N/A">minimize</md-icon>
            </span>
          </td>
          <td>
            <span style=" width: 7%; text-align: center; color: #FF6C00" *ngIf="i.user_bal_mod_in">
              {{i.nombre_user|capitalize}}
            </span>
            <span style=" width: 7%; text-align: center; color: #FF6C00; font-weight: bold;"
              *ngIf="i.user_bal_mod_in == null || i.user_bal_mod_in ==''|| i.user_bal_mod_in ==0">
              <md-icon class="md-24" aria-label="N/A">minimize</md-icon>
            </span>
          </td>
          <td style="width: 7%;">
            <button *ngIf="usuario.perm && usuario.perm.includes('reportes_w')" md-icon-button class="b-btn"
              (click)="Edit_ref_in(i)">
              <md-icon class="md-24" aria-label="Editar Balance">mode_edit</md-icon>
            </button>
            <span *ngIf="usuario.perm && !usuario.perm.includes('reportes_w')">
              <md-icon style="color: #ff0010;" class="md-24" aria-label="no autorizado">block</md-icon>
            </span>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>