<h1>Detalles de Factura</h1>
<div id="print-section">
  <form id="producto" name="ProductForm" [formGroup]="addProduct" ng-submit="ok(clientForm)" novalidate>
  <table style="width:100%">
    <thead>
      <tr>
        <td *ngIf=" client " class="fac" colspan="4">
          Cliente: {{cliente.toUpperCase() }}
        </td>
        <td *ngIf=" row.fac_num == null " class="fac" colspan="2" style="text-align: center">
          Factura: {{row.id}}
        </td>
        <td *ngIf=" row.fac_num != null " class="fac" colspan="2" style="text-align: center">
          Factura: {{row.fac_num}}
        </td>
        <td class="fontz" style="text-align: right">
          Emisión: {{row.created_at  | stringToDate | date: 'dd/MM/yyyy'}}
        </td>
      </tr>
      <tr>
        <td  colspan="4" *ngIf="client && ((client.kind | capitalize2)=='V' || (client.kind | capitalize2)=='E')" class="fac">
          Cedula:  {{client.kind+client.dni}}
        </td>
        <td colspan="4" *ngIf="(client.kind | capitalize2)=='J' || (client.kind | capitalize2)=='G'"class="fac">
          R.I.F.:  {{client.kind+client.dni}}
        </td>
        <td class="fac" style="text-align: center" colspan="3">
          Direccion de entrega (domicilio fiscal)
        </td>
      </tr>
      <tr>
        <td *ngIf=" client " colspan="4" class="fac">
          Correo electrónico: {{client.email}}
        </td>
        <td *ngIf=" client " rowspan="2" colspan="3" class="fac" style="text-align:center; vertical-align: text-center">
          {{client.direccion}}
        </td>
      </tr>
      <tr>
        <td *ngIf=" client " class="fac" colspan="4">
          Teléfonos: {{client.phone1}}
        </td>
      </tr>
      <tr class="fact">
        <th  class="fact fontz" style="font-weight: bold; text-align: center">Codigo</th>
        <th  colspan="2" class="fact fontz" style="font-weight: bold; text-align: center; min-width: 35%; width:35%; max-width:35%;">Nombre del articulo</th>
        <th  class="fact fontz" style="font-weight: bold; text-align: center; min-width: 20%; width:20%; max-width:20%;">Comentario</th>
        <th  class="fact fontz" style="font-weight: bold; text-align: center" *ngIf="serie == 1">% IVA</th>
        <th  class="fact fontz" style="font-weight: bold; text-align: center">Precio unitario</th>
        <th  class="fact fontz" style="font-weight: bold; text-align: center">Cantidad</th>
        <th  class="fact fontz" style="font-weight: bold; text-align: center">Total neto</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let i of fac_products">
        <td class="fontprod" style="text-align:left">
          {{i.codigo_articulo}}
        </td>
        <td colspan="2" class="fontprod" style="text-align:center;  min-width: 35%; width:35%; max-width:35%;">
          {{i.nombre_articulo | capitalize2:true }}
        </td>
        <td class="fontprod" style="text-align:center;  min-width: 20%; width:20%; max-width:20%;" *ngIf="i.comment_articulo != null || i.comment_articulo != 'null'; else elseblock ">
          {{i.comment_articulo | capitalize2:true }}
        </td>
        <td class="fontprod" *ngIf="serie == 1">
          {{i.IVA}}%
        </td>
        <td class="fontprod"*ngIf="serie == 1" style="text-align:right">
          {{(i.precio_articulo*neto)/+i.cantidad | number : '1.1-3'}} {{row.denominacion}}
        </td>
        <td class="fontprod"*ngIf="serie == 0" style="text-align:right">
          {{+i.precio_articulo/+i.cantidad | number : '1.0-3'}} {{row.denominacion}}
        </td>
        <td class="fontprod" style="text-align:right" >{{i.cantidad}}</td>
        <td class="fontprod" *ngIf="serie == 1" style="text-align:right">
          {{(i.precio_articulo)*neto | number : '1.0-3'}} {{row.denominacion}}
        </td>
        <td class="fontprod" *ngIf="serie == 0" style="text-align:right">
          {{i.precio_articulo | number : '1.0-3'}} {{row.denominacion}}
        </td>

      </tr>
      <tr *ngIf="agregarProducto">
        <td class="fontprod" >

        </td>
        <td class="fontprod"  colspan="2">
          <input formControlName='nombre_articulo' placeholder="Nombre del articulo" class="md2-input" [(ngModel)]="nombre_articulo">
        </td>
        <td class="fontprod" >
          <input formControlName='comment_articulo' placeholder="Comentario" class="md2-input" [(ngModel)]="comment_articulo">
        </td>
        <td class="fontprod"  *ngIf="serie == 1">
          {{fac_products[0].IVA}} %
        </td>
        <td class="fontprod" >
          <input formControlName='precio_unitario' placeholder="Precio unitario" class="md2-input" [(ngModel)]="precio_unitario">
        </td>
        <td class="fontprod" >
          <input formControlName='cantidad' placeholder="Cantidad" class="md2-input" [(ngModel)]="cantidad">
        </td>
        <td class="fontprod" >
            <button md-raised-button (click)="addProducto()" [disabled]="!addProduct.valid">Agregar producto</button>
        </td>
      </tr>
      <tr *ngFor="let i of Arr(num_products).fill(' ')">
        <td style="height:13px;">
        </td>
      </tr>
      <!--tr>
      <td></td>
      <td></td>
      <td>Subtotal:</td>
      <td>{{monto | number : '1.0-2'}} BSF</td>
    </tr>
    <tr *ngIf="serie == 1">
    <td></td>
    <td></td>
    <td><font><h3>IVA (12%): </h3></font></td>
    <td>{{impuesto|number : '1.0-2'}} BSF</td>
  </tr>
  <tr>
  <td></td>
  <td></td>
  <td>Total Neto:</td>
  <td>{{montosi | number : '1.0-2'}} BSF</td>
</tr-->
</tbody>
</table>
</form>
<table style="width:100%">
  <tfoot>
    <tr style="border-top: 1px solid black; border-bottom: 1px solid black;" class="boto">
      <td class="fontz boto bobo">
        Base Imponible
      </td>
      <td class="fontz boto bobo">
        {{monto | number : '1.0-3'}} {{row.denominacion}}
      </td>
      <td class="fontz bobo boto" *ngIf="serie == 1 && fac_products">
        Total I.V.A. {{iva}}%
      </td>
      <td class="fontz bobo boto" *ngIf="serie == 1">
        {{impuesto|number : '1.0-3'}} {{row.denominacion}}
      </td>
      <td class="fontz bobo boto">
        Total General
      </td>
      <td class="fontz bobo boto">
        {{montosi | number : '1.0-3'}} {{row.denominacion}}
      </td>
    </tr>
  </tfoot>
</table>
</div>
<table>
  <tr *ngIf="deuda > 0">
    <td colspan="8" style="text-align:center; align:center" *ngIf="usuario.perm && usuario.perm.includes('facturacion_w')">
      <button md-icon-button color="primary" (click)="activar()" [disabled]="agregarProducto">
        <md-icon class="md-24" aria-label="agregar producto" >add_circle</md-icon>
      </button>
    </td>
  </tr>

  <tr *ngIf="pagado > 0">
    <td ><h3>Nombre</h3></td>
    <td ><h3>Tipo de Pago</h3></td>
    <td ><h3>Referencia</h3></td>
    <td ><h3>Monto</h3></td>
    <td ><h3>Fecha</h3></td>
  </tr>
  <tr *ngFor="let p of fac_pagos">
    <td class="fac">Pago Registrado</td>
    <td class="fac" *ngIf="p.pag_tip==2">Transferencia Banesco</td>
    <td class="fac" *ngIf="p.pag_tip==6">Transferencia Bicentenario</td>
    <td class="fac" *ngIf="p.pag_tip==1">Transferencia BOD</td>
    <td class="fac" *ngIf="p.pag_tip==3">Transferencia Venezuela</td>
    <td class="fac" *ngIf="p.pag_tip==4">Retencion ISLR</td>
    <td class="fac" *ngIf="p.pag_tip==5">Retencion IVA</td>
    <td class="fac" *ngIf="p.pag_tip==7">Exonerado</td>
    <td class="fac">{{p.pag_comment | capitalize2:true}}</td>
    <td class="fac">{{p.pag_monto | number : '1.0-3'}} {{row.denominacion}}</td>
    <td class="fac">{{p.created_at | stringToDate | date: 'd/M/yy'}}</td>
  </tr>
  <tr *ngIf="pagado > 0">
    <td></td>
    <td></td>
    <td>Pagado:</td>
    <td>{{pagado | number : '1.0-3'}} {{row.denominacion}}</td>
    <td></td>
  </tr><tr>
    <td *ngIf="serie == 0"></td>
    <td *ngIf="serie == 0"></td>
    <td *ngIf="deuda > 0"><font color="#d10512"><h3>Deuda: </h3></font></td>
    <td *ngIf="deuda <= 0"><font color="#00c402"><h3>Saldo: </h3></font></td>
    <td *ngIf="deuda > 0"><font color="#d10512">{{deuda|number : '1.0-3'}} {{row.denominacion}}</font></td>
    <td *ngIf="deuda <= 0"><font color="#00c402">{{deuda|number : '1.0-3'}} {{row.denominacion}}</font></td>
    <td></td>
  </tr>
</table>
<form id="pago" name="PagoForm" [formGroup]="addPago" ng-submit="ok(clientForm)" novalidate *ngIf="usuario.perm && usuario.perm.includes('facturacion_w')">
  <md2-select formControlName='pag_tip' style="width=35%; min-width: 35%;">
    <md2-option value="2" >Transferencia Banesco</md2-option>
    <md2-option value="6" >Transferencia Bicentenario</md2-option>
    <md2-option value="1" >Transferencia BOD</md2-option>
    <md2-option value="3" >Transferencia Venezuela</md2-option>
    <md2-option value="4" >Retencion ISLR</md2-option>
    <md2-option value="5" >Retencion IVA</md2-option>
    <md2-option value="7" >Exonerado</md2-option>
  </md2-select>
  <input formControlName='pag_comment' placeholder="Referencia" class="md2-input" [(ngModel)]="opcion">
  <input formControlName='created_at' type="date" placeholder="Fecha de Realizacion" class="md2-input" [(ngModel)]="fecha">
  <input formControlName='pag_monto' type="number" placeholder="Monto" class="md2-input" [(ngModel)]="nada">
  <button md-raised-button (click)="agregar()" [disabled]="!addPago.valid">Agregar Pago</button>
  <button md-raised-button (click)="print()">Imprimir</button>
  <button md-raised-button (click)="sendmail()">Enviar Al Cliente</button>
</form>
<ng-template #elseblock>
  <td>
    &nbsp;
  </td>
</ng-template>
