<md-toolbar class="submenu">
  <md-form-field  floatPlaceholder="never">
    <input mdInput placeholder="Filtrar" class="md2-input" [(ngModel)]="search" />
  </md-form-field>

  <span class="example-spacer" style="text-align: center;">Facturacion</span>
  <md-checkbox [(ngModel)]="stat">Anulados</md-checkbox>
  <md-select placeholder="Estado" [(ngModel)]="status">
    <md-option value=''>
      Todas
    </md-option>
    <md-option value='pendiente'>
      Pendiente
    </md-option>
    <md-option value='pagado'>
      Pagada
    </md-option>
  </md-select>
  <md-select placeholder="Mes" [(ngModel)]="mes">
    <md-option *ngFor="let mes of meses" [value]=mes.numero>
      {{mes.nombre}}
    </md-option>
  </md-select>
  <md-select placeholder="Año" [(ngModel)]="year">
    <md-option *ngFor="let year of anos" [value]=year.year>
      {{year.year}}
    </md-option>
  </md-select>
  <button md-icon-button color="primary" (click)="notify()" tooltip="Enviar recordatorios de pago">
    <md-icon class="md-24" aria-label="notificar" >notifications</md-icon>
  </button>
  <button class="x490 x700" md-raised-button (click)="refresh(true)" >
    <md-icon [class.updateicon]="update">cached</md-icon>
    Actualizar
  </button>
  <!--button class="x490 x700" md-raised-button (click)="openDialog()" >
    <md-icon>add_circle_outline</md-icon>
    Agregar
  </button>
  <button md-raised-button (click)="sidenav.toggle()">
      boton
    </button-->
</md-toolbar>
<md-sidenav #sidenav mode="push" class="sidenav">
  <h1>Detalles</h1>
  <h2>Cliente:</h2>
  <h2>Fecha</h2>
  <table>
    <thead>
      <tr>
        <th>control</th>
        <th>tipo</th>
        <th>monto</th>
    </thead>
  </table>

</md-sidenav>
<md-sidenav-container>

<div class="contenido">
    <div class="x700">
      <table style="width: 97%" [md2Data]="facturacion | dataPipe: {cliente: search, id: search} | dataPipe: {estado:status}" #md2="md2DataTable" class="addClient x700" [rowsPerPage]="14">
        <thead>
          <tr>
            <td colspan="5">
              <md2-pagination paginationLabel="Filas por pagina"></md2-pagination>
            </td>
          </tr>
          <tr>
            <th style="width: 15%; margin: 0 1em;">N</th>
            <th style="width: 15%" md2SortBy="cliente">Cliente</th>
            <th style="width: 15%" md2SortBy="estado">Estado</th>
            <th style="width: 15%" md2SortBy="monto">Monto</th>
            <th style="width: 15%">Fecha</th>
            <th style="width: 10%">Acciones</th>
          </tr>
        </thead>
        <tbody class="cuerpo">
          <tr class="hover" *ngFor="let t of md2.data" (click)='show(t)'>
            <td style="width: 15%; margin: 0 1em;">{{t.id}}</td>

            <td style="width: 15%">{{t.cliente | capitalize2:true}}</td>


            <td *ngIf="t.fac_status == 1 && (t.pagado < t.monto || t.pagado == null)" style="width: 15%"><font color="#d10512">{{t.estado | capitalize2:true}}</font></td>
            <td *ngIf="t.fac_status == 1 && (t.pagado >= t.monto)" style="width: 15%"><font color="#00c402">{{t.estado | capitalize2:true}}</font></td>
            <td *ngIf="t.fac_status == 2" style="width: 15%">Anulado</td>

            <td style="width: 15%">{{t.monto | number : '1.1-3'}}{{t.denominacion}}</td>

            <td style="width: 15%">{{t.created_at | stringToDate | date: 'd/M/yy'}}</td>

            <td style="width: 15%">
              <button md-icon-button color="primary" (click)="openLINK(t.id_soporte)">
                <md-icon class="md-24" aria-label="Editar AP" >rate_review</md-icon>
              </button>
              <!--button md-icon-button color="warn"(click)="delete(i.id_srvidor)">
              <button md-icon-button color="warn"(click)="deleteDialog(i)">
              <md-icon class="md-24" aria-label="Eliminar AP">delete</md-icon>
            </button-->


          </td>
        </tr>
      </tbody>
      <tfoot>

      </tfoot>
    </table>
  </div>
</div>
</md-sidenav-container>
