<span md-dialog-title> Actualizar precios de planes </span>
<form class="example-form" id="client" name="clientForm" [formGroup]="addplan" ng-submit="ok(clientForm)" novalidate>
  <table class="example-full-width" cellspacing="0">
    <tr>

    <td colspan="2">

      <md-form-field class="example-full-width">
        <input type="text" name="taza"
        class="form-control"
        placeholder="Costo $"
        formControlName="taza"

        required
        mdInput
        >
      </md-form-field>

    </td>
  </tr>


<tr>
    <td>


      <button md-raised-button  class="example-half-width btn b-btn btn-primary" (click)="update()"><i class="fa fa-paper-plane" aria-hidden="true"></i> Guardar</button>
      
    </td><td>

      <button md-raised-button color="warn" class="example-half-width btn btn-danger" type="button" (click)="onNoClick()"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
    </td>
  </tr>
  <p>

  </p>
</table>
</form>
